{% load static %}


<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Document Title -->
    <title>DOST R3 | Virtual Exhibit</title>

    {% include 'includes/exhibit/favi.html' %}
    {% include 'includes/exhibit/css.html' %}

  </head>
  <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
      <div class="page-loader">
        <div class="loader">Loading...</div>
      </div>
      
      {% include 'main/components/navs/NavExhibit.html' %}

      <section class="module bg-dark-60 blog-page-header" data-background="https://media.giphy.com/media/5xtDarmhcyiIgmzWTXW/giphy.gif">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <h2 class="module-title font-alt">Rxbox</h2>
              <div class="module-subtitle font-serif">KALUSUGAN</div>
            </div>
          </div>
        </div>
      </section>
      <div class="main">
        <section class="module" id="about">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <div class="module-subtitle font-serif large-text">Kalusugan means health. This theme refers to projects that aid and benefit our healthcare system especially now in we're in the middle of a pandemic. Projects on this theme includes telemedicine device, and a health research and development consortia..</div>
              </div>
            </div>
          </div>
        </section>
        <hr class="divider-w">
            <section class="module bg-dark-60" data-background="{% static 'images/assets/kalusugan/intro/RxBox.PNG' %}">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="video-box">
                        <div class="video-box-icon"><a class="video-pop-up" href="https://www.youtube.com/watch?v=9Pp_l5KrRzM"><span class="icon-video"></span></a></div>
                        <div class="video-title font-alt">RxBOX</div>
                        <div class="video-subtitle font-alt">RxBox is a multi-component program (biomedical device, electronic medical record system and telemedicine training) designed to provide better access to life-saving health care services in isolated and disadvantaged communities nationwide. It is one among the Department of Science and Technology’s efforts for a “Smarter Philippines”. It is also an ICT (Information and Communications Technology) innovation designed to support the Department of Health’s call for Kalusugang Pangakalahatan or Universal Health Care.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </section>

            <section class="module bg-dark-60 pt-0 pb-0 parallax-bg testimonial" data-background="{% static 'images/gifs/health.gif' %}">
                <div class="testimonials-slider pt-140 pb-140">
                </div>
            </section>
            <section class="module">
                <div class="container">
                  <hr class="divider-w pt-20">
                  <div class="row mb-60">
                    <div class="col-sm-6 col-md-3 col-lg-3">
                      <div class="alt-features-item">
                        <div class="alt-features-icon"><i class="fas fa-stethoscope"></i></div>
                        <h3 class="alt-features-title font-alt">BLOOD PRESSURE MONITOR​</h3>
                        Measures the patient’s blood pressure to detect cardiovascular problems especially hypertension, a disease which can also worsen other chronic lifestyle disease conditions.
                      </div>
                      <div class="alt-features-item">
                          <div class="alt-features-icon"><i class="fas fa-stethoscope"></i></div>
                          <h3 class="alt-features-title font-alt">PULSE OXIMETER</h3>
                          Measures the level of oxygen in the patient’s blood and can help detect lung and cardiovascular problems, leading causes of death among Filipinos.
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3">
                      <div class="alt-features-item">
                        <div class="alt-features-icon"><i class="fas fa-stethoscope"></i></div>
                        <h3 class="alt-features-title font-alt">ELECTROCARDIOGRAM (ECG)​</h3>
                        Monitors the heart’s movement to pump blood throughout the body, helpful for those with acute and chronic heart problems, including pregnant mothers with cardiovascular problems.
                      </div>
                      <div class="alt-features-item">
                          <div class="alt-features-icon"><i class="fas fa-stethoscope"></i></div>
                          <h3 class="alt-features-title font-alt">FETAL HEART MONITOR</h3>
                            Measures the baby’s heart rate while in the womb, helping detect fetal distress at critical times of the pregnancy and delivery.
                        </div>
                      
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="alt-features-item">
                            <div class="alt-features-icon"><i class="fas fa-stethoscope"></i></div>
                            <h3 class="alt-features-title font-alt">MATERNAL TOCOMETER​</h3>
                            Measures the strength of a mother’s uterine contractions during labor and delivery, enabling early detection of distress to the mother and/or the baby.
                          </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3">
                          <div class="alt-features-item">
                              <div class="alt-features-icon"><i class="fas fa-stethoscope"></i></div>
                              <h3 class="alt-features-title font-alt">TEMPERATURE SENSOR​</h3>
                              Measures a patient’s body temperature. It can help detect fever, a common medical sign of infection and other disease conditions.
                        </div>
                    </div>
                  </div>
                </div>
            </section>
          </section>

          <section class="module bg-dark-60 pt-0 pb-0 parallax-bg testimonial" data-background="{% static 'images/gifs/health.gif' %}">
            <div class="testimonials-slider pt-140 pb-140">
            </div>
          </section>
        
        {% include 'main/components/footers/modules/FooterModule_1.html' %}
        {% include 'main/components/footers/Footer.html' %}
        
      </div>
    </main>
    {% include 'includes/exhibit/js.html' %}
  </body>
</html>