{% load static %}


<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DOST R3 | Virtual Exhibit</title>
    {% include 'includes/exhibit/favi.html' %}
    {% include 'includes/exhibit/css.html' %}
  </head>
  <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
      <div class="page-loader">
        <div class="loader">Loading...</div>
      </div>   
      {% include 'main/components/navs/NavExhibit.html' %}
      <section class="module bg-dark-60 blog-page-header" data-background="{% static 'images/assets/kaayusan/duck/1.png' %}">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <h2 class="module-title font-alt">DESIGN AND DEVELOPMENT OF DISASTER-USE CONVERTED KETCH (D.U.C.K.)</h2>
              <div class="module-subtitle font-serif">KAAYUSAN</div>
            </div>
          </div>
        </div>
      </section>
      <div class="main">
        <section class="module-small">
            <div class="container">
              <div class="row">              
                {% include 'main/pages/exhibit/pages/kaayusan/widgets/KaayusanPost.html' %}
                <div class="col-sm-6 col-sm-offset-1">
                  <div class="post">
                    <div class="post-images-slider">
                        <ul class="slides">
                          <li><img src="{% static 'images/assets/kaayusan/duck/1.png' %}" alt="Slider Image"/></li>
                          <li><img src="{% static 'images/assets/kaayusan/duck/2.png' %}" alt="Slider Image"/></li>
                          <li><img src="{% static 'images/assets/kaayusan/duck/3.png' %}" alt="Slider Image"/></li>
                          <li><img src="{% static 'images/assets/kaayusan/duck/4.png' %}" alt="Slider Image"/></li>
                          <li><img src="{% static 'images/assets/kaayusan/duck/5.png' %}" alt="Slider Image"/></li>
                          <li><img src="{% static 'images/assets/kaayusan/duck/6.png' %}" alt="Slider Image"/></li>
                          <li><img src="{% static 'images/assets/kaayusan/duck/7.png' %}" alt="Slider Image"/></li>
                          <li><img src="{% static 'images/assets/kaayusan/duck/8.png' %}" alt="Slider Image"/></li>
                          <li><img src="{% static 'images/assets/kaayusan/duck/9.png' %}" alt="Slider Image"/></li>
                          <li><img src="{% static 'images/assets/kaayusan/duck/10.png' %}" alt="Slider Image"/></li>
                          <li><img src="{% static 'images/assets/kaayusan/duck/11.png' %}" alt="Slider Image"/></li>
                          <li><img src="{% static 'images/assets/kaayusan/duck/12.png' %}" alt="Slider Image"/></li>
                        </ul>
                      </div>
                    <div class="post-header font-alt">
                      <h1 class="post-title">Design and Development of Disaster-Use Converted Ketch (D.U.C.K.)</h1>
                      <div class="post-meta">By&nbsp;DHVSU, Bacolor, Pampanga</div>
                    </div>
                    <div class="post-entry">
                        <p>This research and development project aims to design and develop an amphibious vehicle intended to enhance disaster relief and response operation most especially during typhoons and floods. DUCK stands for Disaster-Use Converted Ketch, which is a transport system that can be used both inland and water. It will be designed according to the needs of the flood-affected areas in the province. DUCK can be used to rescue affected people and transport them to evacuation areas and to distribute relief goods even too hard to reach affected areas. DUCK will benefit the Pampanga Province and when proven efficient, it can be duplicated in other areas of the Region.</p>
                      <p>The design and simulator software specifically for buoyancy and loading capacity will be used in this research project. This DUCK will be readily available in times of severe weather especially in the presence of severe typhoons and floods. Typhoon and flood adaptation and mitigation using DUCK may be implemented in Pampanga after the completion, testing, and analysis of the prototype.</p>
                      <p>Status as of October 2020</p>
                      <p>
                        1. Completion of breaking system tube. <br>
                        2. Completion of seal/full weld skid plate.<br>
                        3. 100% completed work of additional floaters.<br>
                        4. Completion of extension of steering rod to avoid clash with skid plate.<br>
                        5. 100% completed work in the fabrication and relocation of fuel tank.<br>
                        6. Completion of front axle propeller shaft installed and tested.<br>
                        7. 100% completed work of exhaust pipe and muffler<br>
                        8. Work completed, winch/fairlead roller+bracket+synthetic rope to be attached.<br>
                        9. Propulsion System - 100% completed, manually tested for function.<br>
                        10. Red and Blue ambulance lightings and vhf radio set mounting completed.<br>
                        11. Conducted site inspection at Bancal, Guagua and found location suitable for float test.<br>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="module bg-dark-60 pt-0 pb-0 parallax-bg testimonial" data-background="{% static 'images/gifs/engine.gif' %}">
            <div class="testimonials-slider pt-140 pb-140">
            </div>
          </section>
        {% include 'main/components/footers/modules/FooterModule_1.html' %}
        {% include 'main/components/footers/Footer.html' %}
      </div>
    </main>
    {% include 'includes/exhibit/js.html' %}
  </body>
</html>