{% load static %}

<script src="{% static 'assets/jquery/dist/jquery.js' %}"></script>
<script src="{% static 'assets/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/wow/dist/wow.js' %}"></script>
<script src="{% static 'assets/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js' %}"></script>
<script src="{% static 'assets/isotope/dist/isotope.pkgd.js' %}"></script>
<script src="{% static 'assets/imagesloaded/imagesloaded.pkgd.js' %}"></script>
<script src="{% static 'assets/flexslider/jquery.flexslider.js' %}"></script>
<script src="{% static 'assets/owl.carousel/dist/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/smoothscroll.js' %}"></script>
<script src="{% static 'assets/magnific-popup/dist/jquery.magnific-popup.js' %}"></script>
<script src="{% static 'assets/simple-text-rotator/jquery.simple-text-rotator.min.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/text-area.js' %}"></script>
