{% load static %}

<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    
  <!-- Document Title -->
  <title>DOST R3 | Virtual Exhibit</title>

  {% include 'includes/exhibit/favi.html' %}
  {% include 'includes/exhibit/css.html' %}


</head>

<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
  <main>
    <div class="page-loader">
      <div class="loader">Loading...</div>
    </div>

    {% include 'main/components/navs/NavExhibit.html' %}
    
    <div class="main">
        <section class="module bg-dark-60 portfolio-page-header"
                data-background="https://media.giphy.com/media/j247L1e4KaY6bEBZQ0/giphy.gif">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <!-- step 2: also change title -->
                            <h2 class="module-title font-alt">DOST provides farmers and fisherfolks portable drying
                                equipment</h2>
                        </div>
                    </div>
                </div>
            </section>
            <section class="module">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-8 col-lg-8">
                            <div class="post-images-slider">
                                <ul class="slides">
                                    <!-- step 3: change images on slider -->
                                    <li><img class="center-block"
                                            src="{% static 'images/assets/kabuhayan/featured articles/2. DOST Provides Farmers and Fisherfols Portable Drying Equipment/images/image1.png' %}"
                                            alt="Slider Image" /></li>
                                    <li><img class="center-block"
                                            src="{% static 'images/assets/kabuhayan/featured articles/2. DOST Provides Farmers and Fisherfols Portable Drying Equipment/images/image2.png' %}"
                                            alt="Slider Image" /></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="work-details">
                                
                                <!-- step 4: change project details -->
                                <p>Many of our farmers and fishermen face difficulties in drying their produce. This
                                    problem becomes even more acute as they cannot afford expensive drying facilities.
                                    So most resort to the undesirable practice of pavement drying which is not only
                                    prohibited but also result to tremendous loss in potential income.<br><br>

                                    An innovative technology using trays just might be the answer. The Department of
                                    Science and Technology (DOST) in Central Luzon has recently distributed
                                    multi-purpose solar drying trays or PORTASOL.<br><br>

                                    The trays are made of aluminum, a known good heat conductor which speeds up the
                                    drying of palay up to three times faster than pavement drying. Each tray which has a
                                    carrying capacity of 12.5 kg or ¼ cavan, can be spread out in an open field thus
                                    minimizing wastage compared to the usual practice of spreading the grains directly
                                    into the pavement. In farmhouses with limited space, they can also be stacked up to
                                    ten layers and still achieve satisfactory drying results. The trays can also be used
                                    to dry other produce like vegetables and fish commodities.<br><br>

                                    A total of 24 units were distributed to 13 farmer and 2 fishermen groups in the
                                    whole region as part of the Expanded Implementation of the Community Empowerment
                                    through Science and Technology (CEST) program of the agency. Even with the Covid-19
                                    pandemic raging, DOST has continuously provided the services and interventions
                                    deliverable under the program, offering a ray of hope to farmers and fishermen who
                                    are severely affected by the pandemic.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    
  
  
        <hr class="divider-w">
      </div>


      <hr class="divider-w">
      
      {% include 'main/pages/exhibit/pages/kabuhayan/widgets/RelatedArticles.html' %}
       
      {% include 'main/components/footers/modules/FooterModule_1.html' %}
      {% include 'main/components/footers/Footer.html' %}

    </div>
  </main>

  {% include 'includes/exhibit/js.html' %}

</body>

</html>