{% load static %}

<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    
  <!-- Document Title -->
  <title>DOST R3 | Virtual Exhibit</title>

  {% include 'includes/exhibit/favi.html' %}
  {% include 'includes/exhibit/css.html' %}


</head>

<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
  <main>
    <div class="page-loader">
      <div class="loader">Loading...</div>
    </div>

    {% include 'main/components/navs/NavExhibit.html' %}
    
    <div class="main">
      <section class="module bg-dark-60 portfolio-page-header">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <h2 class="module-title font-alt">Women in Action, Improving the Cashew industry in Conversion</h2>
            </div>
          </div>
        </div>
      </section>
      <section class="module">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-8 col-lg-8">
              <div class="post-images-slider">
                <ul class="slides">
                  <li><img class="center-block"
                      src="{% static 'images/assets/kabuhayan/Livelihood Projects/Women in Action, Improving the Cashew industry in Conversion/Cashew Processing-2.png' %}"
                      alt="Slider Image" /></li>
                  <li><img class="center-block"
                    src="{% static 'images/assets/kabuhayan/Livelihood Projects/Women in Action, Improving the Cashew industry in Conversion/Cashew Processing-3.png' %}"
                      alt="Slider Image" /></li>
                  <li><img class="center-block"
                    src="{% static 'images/assets/kabuhayan/Livelihood Projects/Women in Action, Improving the Cashew industry in Conversion/Cashew Processing-4.png' %}"
                      alt="Slider Image" /></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
              <div class="work-details">
                <h5 class="work-details-title font-alt">Project Details</h5>
                <p>Nagkakaisang Kababaihan ng Conversion is an active women’s organization in Barangay Conversion, a
                  geographically isolated barangay from the rest of the municipality of Pantabangan. The group was
                  assisted with their cashew nuts business by providing them with training and processing equipment such
                  as the following, double deck-oven, mechanical dryer, colloid mill, digital flatform balance,
                  stainless steel table, multipurpose solar speed dryer, and product label design which resulted to
                  better quality of their products and additional products realized, too, increasing their income by
                  23%. This spurred employment generation among the women in the community.<br><br>
                  Through these interventions, the group’s challenges such as lack of knowledge and capability to
                  process their products and low employment were addressed. Notable impacts for this project are
                  improved product quality, improved productivity from 50% to 90%, and generated fourteen (14)
                  employment. The group was also able to produce other products such as cashew butter. From May 2020 to
                  June 2020 the group produced 129.15 kg (good quality) and 33.9 kg (rejects) of roasted cashew nuts
                  with a total sale of Php 122,280.00 and produced five (5) 450 gram and two (2) 250 gram of cashew
                  butter equivalent to Php 1,080.00. The group’s total sales became Php 123,360.00, 23% much higher
                  compared to the previous year income of Php 100,000 after the intervention. In fact, the group was
                  able to increase the marketability of their products through the labelling assistance provided by
                  DOST-III.</p>
              </div>
            </div>
          </div>
        </div>
      </section>


      <hr class="divider-w">
      
      {% include 'main/pages/exhibit/pages/kabuhayan/widgets/RelatedProjects.html' %}
       
      {% include 'main/components/footers/modules/FooterModule_1.html' %}
      {% include 'main/components/footers/Footer.html' %}

    </div>
  </main>

  {% include 'includes/exhibit/js.html' %}

</body>

</html>