{% load static %}

<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    
 <!-- Document Title -->
 <title>DOST R3 | Virtual Exhibit</title>

 {% include 'includes/exhibit/favi.html' %}
 {% include 'includes/exhibit/css.html' %}


</head>

<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
  <main>
    <div class="page-loader">
      <div class="loader">Loading...</div>
    </div>

    {% include 'main/components/navs/NavExhibit.html' %}
    
    <div class="main">
      <section class="module bg-dark-60 portfolio-page-header"
      data-background="{% static 'images/assets/kabuhayan/bg/double-mulching-bg.jpg' %}">
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                  <!-- step 2: also change title -->
                  <h2 class="module-title font-alt">Double Mulching Technique (DMT)</h2>
              </div>
          </div>
      </div>
  </section>
        <section class="module">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-md-8 col-lg-8">
                <div class="post-images-slider">
                  <ul class="slides">
                    <li><img class="center-block"
                    src="{% static 'images/assets/kabuhayan/SMART Hybrid Rice Production Project/Double Mulching Technique/03.png' %}"
                        alt="Slider Image" /></li>
                    <li><img class="center-block"
                    src="{% static 'images/assets/kabuhayan/SMART Hybrid Rice Production Project/Double Mulching Technique/123568039_1253204601728405_6469868493610560538_n.png' %}"
                        alt="Slider Image" /></li>
                    <li><img class="center-block"
                        src="{% static 'images/assets/kabuhayan/SMART Hybrid Rice Production Project/Double Mulching Technique/DMT.png' %}"
                        alt="Slider Image" /></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="work-details">
                  <h5 class="work-details-title font-alt">Project Details</h5>
                  <p>The Double Mulching Technique (DMT) is an adopted technology from the Philippine-Sino Center for
                    Agricultural Technology (PhilSCAT) that uses low-cost materials instead of seedling trays for seedling
                    preparation for mechanical transplanting. Unlike the traditional “dapog” method, DMT is an alternative
                    seedling preparation method that uses mulches. The seedbeds are covered with holed plastic mulch which
                    is topped with sieved garden soil. GI sheet frames are use as guides to secure the seedbed and to
                    maintain an inch thick of garden soil. Once the seeds are sowed, the seedbed is covered with plastic
                    mulch or net for a day to prevent pest infestation. Through this technique, it is expected that
                    farmers will have greater yield as seedling stress will be avoided since the seedlings will not be
                    pulled-out from the soil when transplanted unlike the traditional transplanting technique used by the
                    farmers.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
  
  
        <hr class="divider-w">

        {% include 'main/pages/exhibit/pages/kabuhayan/widgets/RelatedProjects.html' %}
        
      </div>
       
      {% include 'main/components/footers/modules/FooterModule_1.html' %}
      {% include 'main/components/footers/Footer.html' %}

    
  </main>

  {% include 'includes/exhibit/js.html' %}

</body>

</html>