{% load static %}

<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <!-- Document Title -->
  <title>DOST R3 | Virtual Exhibit</title>

  {% include 'includes/exhibit/favi.html' %}
  {% include 'includes/exhibit/css.html' %}

</head>

<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
  
  <main>
    <div class="page-loader">
      <div class="loader">Loading...</div>
    </div>
    {% include 'main/components/navs/NavExhibit.html' %}
    <section class="home-section bg-dark-30" id="home">
      <div class="video-player" data-property="{videoURL:'https://www.youtube.com/watch?v=1gNObw6ty4c', containment:'.home-section', startAt:1, mute:false, autoPlay:true, loop:true, opacity:1, showControls:false, showYTLogo:false, vol:25}">
      </div>
      <div class="video-controls-box">
        <div class="container">
          <div class="video-controls"><a class="fa fa-volume-up" id="video-volume" href="#">&nbsp;</a><a class="fa fa-pause" id="video-play" href="#">&nbsp;</a></div>
        </div>
      </div>
      <div class="titan-caption">
        <div class="caption-content">
          <div class="font-alt mb-30 titan-title-size-1">Kabuhayan</div>
          <div class="font-alt mb-40 titan-title-size-4">ECEST</div>
        </div>
      </div>
    </section>
    <div class="main">
      <section class="module bg-dark-60 parallax-bg"
        data-background="https://media.giphy.com/media/xdkXW7Scx6gus/giphy.gif">
      </section>
      <section class="module bg-dark-60" data-background="{% static 'images/assets/kabuhayan/cest-vid-bg/vid1-bg.png' %}" id="portfolio">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="video-box">
                <div class="video-box-icon"><a class="video-pop-up"
                    href="https://www.youtube.com/watch?v=LY2sQcmF_eU"><span
                      class="icon-video"></span></a></div>
                <div class="video-title font-alt">ECEST FULL TEST 1080 REV</div>
                <div class="video-subtitle font-alt">Watch the video about eCEST</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="module">
        <div class="container">
          <ul class="works-grid works-hover-w">
            <li class="work-item">
              <a>
                <div class="work-image"><img src="{% static 'images/assets/kabuhayan/CEST_Brochure_front_page.jpg' %}" alt="brochure front">
                </div>
                <div class="work-caption font-alt">
                  <h3 class="work-title">C E S T Brochure</h3>
                  <div class="work-descr">Front Page</div>
                </div>
              </a>
            </li>
            <li class="work-item">
              <a>
                <div class="work-image"><img src="{% static 'images/assets/kabuhayan/CEST_Brochure_back_page.jpg' %}" alt="brochure back"></div>
                <div class="work-caption font-alt">
                  <h3 class="work-title">C E S T Brochure</h3>
                  <div class="work-descr">Back Page</div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </section>
      <section class="module bg-dark-60" data-background="{% static 'images/assets/kabuhayan/cest-vid-bg/vid2-bg.png' %}" id="portfolio">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="video-box">
                <div class="video-box-icon"><a class="video-pop-up"
                    href="https://www.youtube.com/watch?v=UaAK2R2qZVo"><span
                      class="icon-video"></span></a></div>
                <div class="video-title font-alt">Presentation</div>
                <div class="video-subtitle font-alt">Watch the video about eCEST 2019 accomplishment</div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="module">
        <section class="module" id="services">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">SMART HYBRID RICE PRODUCTION PROJECTS</h2>
              </div>
            </div>
          </div>
        </section>
        <div class="container">
          <p style="text-align: justify;">
            For the past years, Filipino farmers face challenges in farming caused by the increasing population and climate change. The need to sustain food security and produce agricultural products of good quality has been a struggle for most farmers as they are deprived with the knowledge and skills to adapt to our changing environment.

            Other than that, fewer and fewer people seem to engage in farming. A lot of our agricultural lands are being converted for industrial purposes. The age of Filipino farmers have become older while their children seem to choose high paying careers instead of farming. The intense labor equating to smaller profit is what largely drives them off of farming. If this keeps on happening, imagine what would happen if the last farmer quits tomorrow?

            With high hopes of reviving agriculture in the country, the eCEST program aimed to empower communities by providing a package of S&T interventions for farmers. Being rice as the staple food of Filipinos, technological interventions were focused on rice production. And since Region 3 is the central rice production of the Philippines, these interventions may help the country to attain rice self—sufficiency.<br><br>
          </p>
          <section class="module bg-dark-60" id="portfolio">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <div class="video-box">
                    <div class="video-box-icon"><a class="video-pop-up"
                        href="https://www.youtube.com/watch?v=Pkj5DDCnr2Y"><span
                          class="icon-video"></span></a></div>
                    <div class="video-title font-alt">ECEST SDE TRAINING ON MRT</div>
                    <div class="video-subtitle font-alt">WATCH THE VIDEO</div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </section>
      <section>
        <div class="container">
          <p style="text-align: justify;">
            With this goal, DOST 3 partnered with the Philippine Sino-Center for Agricultural Technologies (PhilSCAT) identified proper technologies to increase the yield of farmers.  This led to the project entitled “SMART Rice Production” which aims to promote the mechanized hybrid rice production to farmers. This project was first piloted to thirteen (13) demo farms in Central Luzon resulting to an average of 30% increase in yield with a maximum of 175 cavans per hectare. The project makes use of the following technologies:
          </p>
          <ul class="works-grid works-grid-masonry works-hover-w">
            <li class="work-item rice-production"><a href="{% url 'double'%}">
              <div class="work-image"><img
                  src="{% static 'images/assets/kabuhayan/SMART_Hybrid_Rice_Production_Project/Double Mulching Technique/DMT.jpg' %}"
                  alt="Portfolio Item" />
              </div>
              <div class="work-caption font-alt">
                <h3 class="work-title">Double Mulching Technique (DMT)</h3>
                <div class="work-descr">SMART Hybrid Rice Production Projects</div>
              </div>
            </a></li>
            <li class="work-item rice-production"><a href="{% url 'transplant'%}">
              <div class="work-image"><img
                  src="{% static 'images/assets/kabuhayan/SMART_Hybrid_Rice_Production_Project/Tranplanting/transplanter.jpg' %}"
                  alt="Portfolio Item" />
              </div>
              <div class="work-caption font-alt">
                <h3 class="work-title">Mechanical Rice Tranplanting Technology</h3>
                <div class="work-descr">SMART Hybrid Rice Production Projects</div>
              </div>
            </a></li>
            <li class="work-item rice-production"><a href="{% url 'carra'%}">
              <div class="work-image"><img
                  src="{% static 'images/assets/kabuhayan/SMART_Hybrid_Rice_Production_Project/Carrageenan/Carrageenan.JPG' %}"
                  alt="Portfolio Item" />
              </div>
              <div class="work-caption font-alt">
                <h3 class="work-title">Carrageenan Plan Growth Promoter Technology</h3>
                <div class="work-descr">SMART Hybrid Rice Production Projects</div>
              </div>
            </a></li>
          </ul>
        </div>
      </section>
      <section class="module pb-0">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <ul class="filter font-alt" id="filters">
                <li><a class="current wow fadeInUp" href="#" data-filter="*">All</a></li>
                <li><a class="wow fadeInUp" href="#" data-filter=".livelihood" data-wow-delay="0.4s">Livelihood
                    Projects</a></li>
                <li><a class="wow fadeInUp" href="#" data-filter=".hydroponics" data-wow-delay="0.6s">High Value Crops
                    Production Through HydroponicsTechnology</a></li>
                <li><a class="wow fadeInUp" href="#" data-filter=".solar-power" data-wow-delay="0.6s">Improvement of
                    Irrigation Practice through Solar Powered Pump</a></li>
              </ul>
            </div>
          </div>
        </div>
        <ul class="works-grid works-grid-masonry works-hover-w" id="works-grid">
          <li class="work-item livelihood"><a href="{% url 'women'%}">
              <div class="work-image"><img
                  src="{% static 'images/assets/kabuhayan/Livelihood_Projects/Empowering Women through Science and Technology/Fish Processing-0.PNG' %}"
                  alt="Portfolio Item" />
              </div>
              <div class="work-caption font-alt">
                <h3 class="work-title">Empowering Women through Science and Technology</h3>
                <div class="work-descr">Livelihood Projects</div>
              </div>
            </a></li>
          <li class="work-item hydroponics"><a href="{% url 'hydro'%}">
              <div class="work-image"><img
                  src="{% static 'images/assets/kabuhayan/High_Value_Crops_Production_through_Hydroponics_Technology/Hydroponics.JPG' %}"
                  alt="Portfolio Item" />
              </div>
              <div class="work-caption font-alt">
                <h3 class="work-title">High Value Crops Production Through HydroponicsTechnology</h3>
              </div>
            </a></li>
          <li class="work-item livelihood"><a href="{% url 'mushroom'%}">
              <div class="work-image"><img
                  src="{% static 'images/assets/kabuhayan/Livelihood_Projects/Mush-room for Improvement/BPSU.Mushroom5.jpg' %}"
                  alt="Portfolio Item" />
              </div>
              <div class="work-caption font-alt">
                <h3 class="work-title">Mush-Room for Improvement: Establishment of Mushroom Production for the
                  livelihood of the Indigenous People of Bangkal, Bataan</h3>
                <div class="work-descr">Livelihood Projects</div>
              </div>
            </a></li>
          <li class="work-item solar-power"><a href="{% url 'pump'%}">
              <div class="work-image"><img
                  src="{% static 'images/assets/kabuhayan/Solar_Powered_Pump/81309393_467813730782018_3243659245828177920_n (2).png' %}"
                  alt="Portfolio Item" />
              </div>
              <div class="work-caption font-alt">
                <h3 class="work-title">Improvement of Irrigation Practice through Solar Powered Pump</h3>
              </div>
            </a></li>
          <li class="work-item livelihood"><a href="{% url 'cashew'%}">
              <div class="work-image"><img
                  src="{% static 'images/assets/kabuhayan/Livelihood_Projects/Women in Action, Improving the Cashew industry in Conversion/Cashew Processing-2.jpg' %}"
                  alt="Portfolio Item" />
              </div>
              <div class="work-caption font-alt">
                <h3 class="work-title">Expanded Implementation CEST in Pantabangan, Nueva Ecija: Process and Product
                  Improvement of Cashew Products of the Nagkakaisang Kababaihan ng Conversion</h3>
                <div class="work-descr">Livelihood Projects</div>
              </div>
            </a></li>
          <li class="work-item livelihood"><a href="{% url 'floridablanca'%}">
              <div class="work-image"><img
                  src="{% static 'images/assets/kabuhayan/Livelihood_Projects/Enabling Livelihood for PWD group in Floridablanca, Pampanga/bambute - Florida.png' %}"
                  alt="Portfolio Item" />
              </div>
              <div class="work-caption font-alt">
                <h3 class="work-title">Enabling Livelihood for PWD Group in Floridablanca, Pampanga</h3>
                <div class="work-descr">Livelihood Projects</div>
              </div>
            </a></li>
          <li class="work-item livelihood"><a href="{% url 'zambelena'%}">
              <div class="work-image"><img
                  src="{% static 'images/assets/kabuhayan/Livelihood_Projects/Samahang Zambaleña sews their way to success/balincaguing.jpg' %}"
                  alt="Portfolio Item" />
              </div>
              <div class="work-caption font-alt">
                <h3 class="work-title">Samahang Zambaleña Sews Their Way to Success</h3>
                <div class="work-descr">Livelihood Projects</div>
              </div>
            </a></li>
          <li class="work-item livelihood"><a href="{% url 'sewing'%}">
              <div class="work-image"><img
                  src="{% static 'images/assets/kabuhayan/Livelihood_Projects/Rekindling the Sewing and Embroidery Industry of Bocaue/123866914_407514630611038_1932040945774633121_n.jpg' %}"
                  alt="Portfolio Item" />
              </div>
              <div class="work-caption font-alt">
                <h3 class="work-title">Rekindling the Sewing and Embroidery Industry of Bocaue</h3>
                <div class="work-descr">Livelihood Projects</div>
              </div>
            </a></li>
          <li class="work-item livelihood"><a href="{% url 'snt'%}">
              <div class="work-image"><img
                  src="{% static 'images/assets/kabuhayan/Livelihood_Projects/S&T driven livelihood towards empowerment of Abelling Tribe/20200204_144037.png' %}"
                  alt="Portfolio Item" />
              </div>
              <div class="work-caption font-alt">
                <h3 class="work-title">S&T driven livelihood towards empowerment of Abelling Tribe</h3>
                <div class="work-descr">Livelihood Projects</div>
              </div>
            </a></li>
        </ul>
      </section>
      <br />   
      <section class="module bg-dark-60 parallax-bg"
        data-background="https://media.giphy.com/media/pfPA6Bp9EhLji/giphy.gif">
      </section>

      {% include 'main/pages/exhibit/pages/kabuhayan/widgets/RelatedArticles.html' %}

      <section class="module-small parallax-bg bg-dark-60"
        data-background="https://media.giphy.com/media/YmcIK6A7Y29UPxM1Ze/giphy.gif">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-8 col-lg-6 col-lg-offset-2">
              <div class="callout-text font-alt">
                <h3 class="callout-title">DOST oneSTore</h3>
                <p>Link to the oneSTore website, Shop quality local products!</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
              <div class="callout-btn-box"><a class="btn btn-w btn-round" href="https://onestore.ph/" target="_blank">This way to DOST
                  oneSTore >></a></div>
            </div>
          </div>
        </div>
      </section>
      <section class="module-small parallax-bg bg-dark-60"
        data-background="https://media.giphy.com/media/fefXhtGG2NeynEUHtU/giphy.gif">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-8 col-lg-6 col-lg-offset-2">
              <div class="callout-text font-alt">
                <h3 class="callout-title">DOST OneExpert</h3>
                <p>Link to the OneExpert website, Learn from their line up of Free Online Webinars on various S&T
                  topics, brought to you by their very own experts in OneExpert.</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
              <div class="callout-btn-box"><a class="btn btn-w btn-round" href="https://oneexpert.gov.ph/" target="_blank">This way to
                  DOST OneExpert >></a></div>
            </div>
          </div>
        </div>
      </section>

      {% include 'main/components/footers/modules/FooterModule_1.html' %}
      {% include 'main/components/footers/Footer.html' %}
    </div>
  </main>
    

    {% include 'includes/exhibit/js.html' %}

</body>

</html>