{% load static %}

<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <!-- Document Title -->
  <title>DOST R3 | Virtual Exhibit</title>

  {% include 'includes/exhibit/favi.html' %}
  {% include 'includes/exhibit/css.html' %}

</head>

<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
  
  <main>
    <div class="page-loader">
      <div class="loader">Loading...</div>
    </div>
    {% include 'main/components/navs/NavExhibit.html' %}
    <section class="home-section bg-dark-30" id="home" data-background="assets/images/section-5.jpg">
      <div class="video-player" data-property="{videoURL:'https://www.youtube.com/watch?v=eQuJYpgoyYI', containment:'.home-section', startAt:13, mute:false, autoPlay:true, loop:true, opacity:1, showControls:false, showYTLogo:false, vol:25}">
      </div>
      <div class="video-controls-box">
        <div class="container">
          <div class="video-controls"><a class="fa fa-volume-up" id="video-volume" href="#">&nbsp;</a><a class="fa fa-pause" id="video-play" href="#">&nbsp;</a></div>
        </div>
      </div>
      <div class="titan-caption">
        <div class="caption-content">
          <div class="font-alt mb-30 titan-title-size-1">Kabuhayan</div>
          <div class="font-alt mb-40 titan-title-size-4">ECEST</div>
        </div>
      </div>
    </section>
    <div class="main">
      <section class="module bg-dark-60 parallax-bg"
        data-background="https://media.giphy.com/media/xdkXW7Scx6gus/giphy.gif">
      </section>
      <section class="module bg-dark-60" data-background="{% static 'images/assets/kabuhayan/cest-vid-bg/vid1-bg.png' %}" id="portfolio">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="video-box">
                <div class="video-box-icon"><a class="video-pop-up"
                    href="https://www.youtube.com/watch?v=LY2sQcmF_eU"><span
                      class="icon-video"></span></a></div>
                <div class="video-title font-alt">ECEST FULL TEST 1080 REV</div>
                <div class="video-subtitle font-alt">Watch the video about eCEST</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="module">
        <div class="container">
          <ul class="works-grid works-hover-w">
            <li class="work-item">
              <a>
                <div class="work-image"><img src="{% static 'images/assets/kabuhayan/CEST_Brochure_front_page.jpg' %}" alt="brochure front">
                </div>
                <div class="work-caption font-alt">
                  <h3 class="work-title">C E S T Brochure</h3>
                  <div class="work-descr">Front Page</div>
                </div>
              </a>
            </li>
            <li class="work-item">
              <a>
                <div class="work-image"><img src="{% static 'images/assets/kabuhayan/CEST_Brochure_back_page.jpg' %}" alt="brochure back"></div>
                <div class="work-caption font-alt">
                  <h3 class="work-title">C E S T Brochure</h3>
                  <div class="work-descr">Back Page</div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </section>
      <section class="module bg-dark-60" data-background="{% static 'images/assets/kabuhayan/cest-vid-bg/vid2-bg.png' %}" id="portfolio">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="video-box">
                <div class="video-box-icon"><a class="video-pop-up"
                    href="https://www.youtube.com/watch?v=UaAK2R2qZVo"><span
                      class="icon-video"></span></a></div>
                <div class="video-title font-alt">Presentation</div>
                <div class="video-subtitle font-alt">Watch the video about eCEST 2019 accomplishment</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="module pb-0">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <ul class="filter font-alt" id="filters">
                <li><a class="current wow fadeInUp" href="#" data-filter="*">All</a></li>
                <li><a class="wow fadeInUp" href="#" data-filter=".rice-production" data-wow-delay="0.2s">SMART Hybrid
                    Rice Production Projects</a></li>
                <li><a class="wow fadeInUp" href="#" data-filter=".livelihood" data-wow-delay="0.4s">Livelihood
                    Projects</a></li>
                <li><a class="wow fadeInUp" href="#" data-filter=".hydroponics" data-wow-delay="0.6s">High Value Crops
                    Production Through HydroponicsTechnology</a></li>
                <li><a class="wow fadeInUp" href="#" data-filter=".solar-power" data-wow-delay="0.6s">Improvement of
                    Irrigation Practice through Solar Powered Pump</a></li>
              </ul>
            </div>
          </div>
        </div>
        <ul class="works-grid works-grid-masonry works-hover-w" id="works-grid">
          <li class="work-item rice-production"><a href="{% url 'double'%}">
              <div class="work-image"><img
                  src="{% static 'images/assets/kabuhayan/SMART_Hybrid_Rice_Production_Project/Double Mulching Technique/DMT.jpg' %}"
                  alt="Portfolio Item" />
              </div>
              <div class="work-caption font-alt">
                <h3 class="work-title">Double Mulching Technique (DMT)</h3>
                <div class="work-descr">SMART Hybrid Rice Production Projects</div>
              </div>
            </a></li>
          <li class="work-item livelihood"><a href="{% url 'women'%}">
              <div class="work-image"><img
                  src="{% static 'images/assets/kabuhayan/Livelihood_Projects/Empowering Women through Science and Technology/Fish Processing-0.PNG' %}"
                  alt="Portfolio Item" />
              </div>
              <div class="work-caption font-alt">
                <h3 class="work-title">Empowering Women through Science and Technology</h3>
                <div class="work-descr">Livelihood Projects</div>
              </div>
            </a></li>
          <li class="work-item rice-production"><a href="{% url 'transplant'%}">
              <div class="work-image"><img
                  src="{% static 'images/assets/kabuhayan/SMART_Hybrid_Rice_Production_Project/Tranplanting/transplanter.jpg' %}"
                  alt="Portfolio Item" />
              </div>
              <div class="work-caption font-alt">
                <h3 class="work-title">Mechanical Rice Tranplanting Technology</h3>
                <div class="work-descr">SMART Hybrid Rice Production Projects</div>
              </div>
            </a></li>
          <li class="work-item hydroponics"><a href="{% url 'hydro'%}">
              <div class="work-image"><img
                  src="{% static 'images/assets/kabuhayan/High_Value_Crops_Production_through_Hydroponics_Technology/Hydroponics.JPG' %}"
                  alt="Portfolio Item" />
              </div>
              <div class="work-caption font-alt">
                <h3 class="work-title">High Value Crops Production Through HydroponicsTechnology</h3>
              </div>
            </a></li>
          <li class="work-item livelihood"><a href="{% url 'mushroom'%}">
              <div class="work-image"><img
                  src="{% static 'images/assets/kabuhayan/Livelihood_Projects/Mush-room for Improvement/BPSU.Mushroom5.jpg' %}"
                  alt="Portfolio Item" />
              </div>
              <div class="work-caption font-alt">
                <h3 class="work-title">Mush-Room for Improvement: Establishment of Mushroom Production for the
                  livelihood of the Indigenous People of Bangkal, Bataan</h3>
                <div class="work-descr">Livelihood Projects</div>
              </div>
            </a></li>
          <li class="work-item solar-power"><a href="{% url 'pump'%}">
              <div class="work-image"><img
                  src="{% static 'images/assets/kabuhayan/Solar_Powered_Pump/81309393_467813730782018_3243659245828177920_n (2).png' %}"
                  alt="Portfolio Item" />
              </div>
              <div class="work-caption font-alt">
                <h3 class="work-title">Improvement of Irrigation Practice through Solar Powered Pump</h3>
              </div>
            </a></li>
          <li class="work-item livelihood"><a href="{% url 'cashew'%}">
              <div class="work-image"><img
                  src="{% static 'images/assets/kabuhayan/Livelihood_Projects/Women in Action, Improving the Cashew industry in Conversion/Cashew Processing-2.jpg' %}"
                  alt="Portfolio Item" />
              </div>
              <div class="work-caption font-alt">
                <h3 class="work-title">Expanded Implementation CEST in Pantabangan, Nueva Ecija: Process and Product
                  Improvement of Cashew Products of the Nagkakaisang Kababaihan ng Conversion</h3>
                <div class="work-descr">Livelihood Projects</div>
              </div>
            </a></li>
          <li class="work-item rice-production"><a href="{% url 'carra'%}">
              <div class="work-image"><img
                  src="{% static 'images/assets/kabuhayan/SMART_Hybrid_Rice_Production_Project/Carrageenan/Carrageenan.JPG' %}"
                  alt="Portfolio Item" />
              </div>
              <div class="work-caption font-alt">
                <h3 class="work-title">Carrageenan Plan Growth Promoter Technology</h3>
                <div class="work-descr">SMART Hybrid Rice Production Projects</div>
              </div>
            </a></li>
          <li class="work-item livelihood"><a href="{% url 'floridablanca'%}">
              <div class="work-image"><img
                  src="{% static 'images/assets/kabuhayan/Livelihood_Projects/Enabling Livelihood for PWD group in Floridablanca, Pampanga/bambute - Florida.png' %}"
                  alt="Portfolio Item" />
              </div>
              <div class="work-caption font-alt">
                <h3 class="work-title">Enabling Livelihood for PWD Group in Floridablanca, Pampanga</h3>
                <div class="work-descr">Livelihood Projects</div>
              </div>
            </a></li>
          <li class="work-item livelihood"><a href="{% url 'zambelena'%}">
              <div class="work-image"><img
                  src="{% static 'images/assets/kabuhayan/Livelihood_Projects/Samahang Zambaleña sews their way to success/balincaguing.jpg' %}"
                  alt="Portfolio Item" />
              </div>
              <div class="work-caption font-alt">
                <h3 class="work-title">Samahang Zambaleña Sews Their Way to Success</h3>
                <div class="work-descr">Livelihood Projects</div>
              </div>
            </a></li>
          <li class="work-item livelihood"><a href="{% url 'sewing'%}">
              <div class="work-image"><img
                  src="{% static 'images/assets/kabuhayan/Livelihood_Projects/Rekindling the Sewing and Embroidery Industry of Bocaue/123866914_407514630611038_1932040945774633121_n.jpg' %}"
                  alt="Portfolio Item" />
              </div>
              <div class="work-caption font-alt">
                <h3 class="work-title">Rekindling the Sewing and Embroidery Industry of Bocaue</h3>
                <div class="work-descr">Livelihood Projects</div>
              </div>
            </a></li>
          <li class="work-item livelihood"><a href="{% url 'snt'%}">
              <div class="work-image"><img
                  src="{% static 'images/assets/kabuhayan/Livelihood_Projects/S&T driven livelihood towards empowerment of Abelling Tribe/20200204_144037.png' %}"
                  alt="Portfolio Item" />
              </div>
              <div class="work-caption font-alt">
                <h3 class="work-title">S&T driven livelihood towards empowerment of Abelling Tribe</h3>
                <div class="work-descr">Livelihood Projects</div>
              </div>
            </a></li>
        </ul>
      </section>
      <br />
      <section class="module bg-dark-60 parallax-bg"
        data-background="https://media.giphy.com/media/3oKIPEqDGUULpEU0aQ/giphy.gif">
      </section>
      <section class="module">
        <section class="module" id="services">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Featured Story</h2>
                <div class="module-subtitle font-serif">Resilient Pantabangan: A Submerged Town Rises Above the Water</div>
              </div>
            </div>
          </div>
        </section>
        <div class="container">
          <p style="text-align: justify;">
            Pantabangan, a municipality in the province of Nueva Ecija in Central Luzon is the site of the Pantabangan
            Dam and Lake. Located in the northern part of Nueva Ecija, Pantabangan is situated at the foot of Mt.
            Mabilog below Mt. Dalimanok which are found between the Sierra Madre and Caraballo Mountain ranges. The
            construction of the Dam had great economic and social impact on the lives of Pantabangeños. About 8,100
            hectares of productive farmlands and the town center along with the seven outlying barangays of Villarica,
            Liberty, Cadaclan, San Juan, Napon-Napon, Marikit and Conversion had to be submerged under the new lake to
            make way for the dam. Residents were relocated to higher ground overlooking the vast reservoir, which became
            the new Pantabangan town center. Despite the dam’s location in the municipality which generates
            hydro-electric power and irrigation water for Central Luzon, the poverty incidence in the area remains high.
            The 2012 poverty estimates of the Philippine Statistics Authority (PSA) reveal that Pantabangan has a 19.5%
            poverty incidence and ranks 7th among 31 municipalities in Nueva Ecija. Many of its barangays have become
            geographically isolated and therefore disadvantaged because of the dam’s construction.<br><br>

            Recognizing the urgent need to help some barangays in Pantabangan, DOST-III officially adopted the
            municipality as one of its 25 CEST-assisted communities through its regional program on the Expanded
            Implementation of Community Empowerment through Science and Technology (CEST) in Region III. To jumpstart
            the project, the CEST team initially collected socio-economic data about the municipality and its barangays
            to help identify the pressing issues and areas to be addressed using it as a backdrop to the conduct of the
            Rapid Rural Appraisal (RRA) in the community. To get a better assessment of the prevailing conditions in the
            areas, a multi-sectoral consultative dialogue participated by local/barangay leaders, farmer leaders,
            barangay health workers (BHWs), barangay nutrition scholars (BNS), and school principals and teachers. As an
            adjunct tool, the Technology Needs Assessment (TNA) instrument was also used to determine the technical
            needs of the community in the five (5) entry points of CEST.
          </p>
          <section class="module bg-dark-60" data-background="{% static 'images/assets/kabuhayan/cest-vid-bg/vid3-bg.png' %}" id="portfolio">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <div class="video-box">
                    <div class="video-box-icon"><a class="video-pop-up"
                        href="https://www.youtube.com/watch?v=S-rbj-GjeB8"><span
                          class="icon-video"></span></a></div>
                    <div class="video-title font-alt">Presentation</div>
                    <div class="video-subtitle font-alt">Watch the video about Resilient Pantabangan: A Submerged Town
                      Rises Above the Water</div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <br />
          <p style="text-align: justify;">
            Provision of livelihood opportunities such us cashew nut processing facilities and training on mushroom
            production for women's group and farmers group in barangay Conversion were provided. Also, CEST provides
            hydroponics and aquaponics technology to Ganduz National High School to promote production of high value
            crops through soilless agriculture. Empowerment on the health and nutrition of the community was also
            provided to the community, six (6) to thirty-six (6) months old children benefitted the 120 days feeding
            program. The feeding was participated by 35 malnourished and undernourished children, and 27 out of 35 or
            77% return to normal nutritional status. The LGU Pantabangan was also provided with S and T intervention on
            the education and human resource development through the provision of Science and technology Research Based
            Openly Operated Kiosk and Upgrading of science laboratory facilities 6 schools benefitted these
            technologies. These interventions expected to help the students to increase their knowledge and interest on
            math and science subject. Also, an Interactive multimedia teaching aids technology was provided to IP
            schools in Conversion, Pantabangan, through this technology the student's participation in class increases
            and no number recorded of absenteeism among IP students while very few was noted to non-IP students. A
            review Class on math and science for DOST-SEI undergraduate scholarship applicants, 40 senior high school in
            Conversion was provided.<br><br>

            On the environmental protection and conservation entry points, CEST intervene a unit of Dual Drum Composter
            and Portable Biogas Digester. These technologies convert biodegradable waste into organic fertilizer and
            methane gas respectively. The Juan Time clock with Message Display Board was provided to LGU Pantabangan in
            response to the disaster risk reduction management. Synchronization of time pieces in the community was
            attained and the display board served as public information dissemination platform of the LGU where most of
            the announcement and weather bulletin forecasts were disseminated. With the CEST interventions,
            Pantabangeños were able to live happily despite their poverty-mired, isolated and disadvantaged position,
            lifting themselves above the challenges that had historically submerged their community. With the
            implementation of the CEST program in Pantabangan starting in 2018 and continuing to the present, the once
            submerged old community called of Pantabangan is beginning to rise up towards
            social and economic development.
          </p>
        </div>
      </section>
      <section class="module bg-dark-60 parallax-bg"
        data-background="https://media.giphy.com/media/pfPA6Bp9EhLji/giphy.gif">
      </section>
      <section class="module container">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <h2 class="module-title font-alt">FEATURED ARTICLES</h2>
            </div>
          </div>
        </div>
        <ul class="works-grid works-grid-masonry works-hover-w works-grid-4">
          <li class="work-item"><a href="{% url 'article1' %}">
              <div class="work-image"><img
                  src="{% static 'images/assets/kabuhayan/featured articles/1. DOST Provides Transplanters to Rice Farmers in Central Luzon/images/image2.png' %}"
                  alt="Portfolio Item" />
              </div>
              <div class="work-caption font-alt">
                <h3 class="work-title">DOST Provides Transplanters to Rice Farmers in Central Luzon</h3>
              </div>
            </a></li>
          <li class="work-item"><a href="{% url 'article2' %}">
              <div class="work-image"><img
                  src="{% static 'images/assets/kabuhayan/Solar_Powered_Pump/81309393_467813730782018_3243659245828177920_n (2).png' %}"
                  alt="Portfolio Item" />
              </div>
              <div class="work-caption font-alt">
                <h3 class="work-title">Improvement of Irrigation Practice through Solar Powered Pump</h3>
              </div>
            </a></li>
          <li class="work-item"><a href="{% url 'article3' %}">
              <div class="work-image"><img
                  src="{% static 'images/assets/kabuhayan/featured articles/3. DOST Awards Villae-Type Rice Mills to CEST Communities in Central Luzon/images/image1.png' %}"
                  alt="Portfolio Item" />
              </div>
              <div class="work-caption font-alt">
                <h3 class="work-title">Expanded Implementation CEST in Pantabangan, Nueva Ecija: Process and Product
                  Improvement of Cashew Products of the Nagkakaisang Kababaihan ng Conversion</h3>
              </div>
            </a></li>
          <li class="work-item"><a href="{% url 'article4' %}">
              <div class="work-image"><img
                  src="{% static 'images/assets/kabuhayan/featured articles/4. Abelling IP Tribe in Tarlac Gets DOST Assistance/images/image1.png' %}"
                  alt="Portfolio Item" />
              </div>
              <div class="work-caption font-alt">
                <h3 class="work-title">Mush-Room for Improvement: Establishment of Mushroom Production for the
                  livelihood of the Indigenous People of Bangkal, Bataan</h3>
              </div>
            </a></li>
          <li class="work-item"><a href="{% url 'article5' %}">
              <div class="work-image"><img
                  src="{% static 'images/assets/kabuhayan/featured articles/5. DOST-III PROVIDES LIVELIHOOD EQUIPMENT IN BOCAUE, BULACAN/images/image1.png' %}"
                  alt="Portfolio Item" />
              </div>
              <div class="work-caption font-alt">
                <h3 class="work-title">Carrageenan Plan Growth Promoter Technology</h3>
              </div>
            </a></li>
          <li class="work-item"><a href="{% url 'article6' %}">
              <div class="work-image"><img
                  src="{% static 'images/assets/kabuhayan/featured articles/6. DOST III PROVIDES LIVELIHOOD EQUIPMENT TO ECEST BENEFICIARIES IN DINGALAN/images/image1.png' %}"
                  alt="Portfolio Item" />
              </div>
              <div class="work-caption font-alt">
                <h3 class="work-title">S&T driven livelihood towards empowerment of Abelling Tribe</h3>
              </div>
            </a></li>
          <li class="work-item"><a href="{% url 'article7' %}">
              <div class="work-image"><img
                  src="{% static 'images/assets/kabuhayan/featured articles/7. ECEST INTERVENTIONS TO EMPOWER COMMUNITIES IN SAN FELIPE, ZAMBALES/images/image1.png' %}"
                  alt="Portfolio Item" />
              </div>
              <div class="work-caption font-alt">
                <h3 class="work-title">Samahang Zambaleña Sews Their Way to Success</h3>
              </div>
            </a></li>
        </ul>
      </section>
      <section class="module-small parallax-bg bg-dark-60"
        data-background="https://media.giphy.com/media/YmcIK6A7Y29UPxM1Ze/giphy.gif">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-8 col-lg-6 col-lg-offset-2">
              <div class="callout-text font-alt">
                <h3 class="callout-title">DOST oneSTore</h3>
                <p>Link to the oneSTore website, Shop quality local products!</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
              <div class="callout-btn-box"><a class="btn btn-w btn-round" href="https://onestore.ph/" target="_blank">This way to DOST
                  oneSTore >></a></div>
            </div>
          </div>
        </div>
      </section>
      <section class="module-small parallax-bg bg-dark-60"
        data-background="https://media.giphy.com/media/fefXhtGG2NeynEUHtU/giphy.gif">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-8 col-lg-6 col-lg-offset-2">
              <div class="callout-text font-alt">
                <h3 class="callout-title">DOST OneExpert</h3>
                <p>Link to the OneExpert website, Learn from their line up of Free Online Webinars on various S&T
                  topics, brought to you by their very own experts in OneExpert.</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
              <div class="callout-btn-box"><a class="btn btn-w btn-round" href="https://oneexpert.gov.ph/" target="_blank">This way to
                  DOST OneExpert >></a></div>
            </div>
          </div>
        </div>
      </section>

      {% include 'main/components/footers/modules/FooterModule_1.html' %}
      {% include 'main/components/footers/Footer.html' %}
    </div>
  </main>
    

    {% include 'includes/exhibit/js.html' %}

</body>

</html>