{% load static %}

<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    
 <!-- Document Title -->
 <title>DOST R3 | Virtual Exhibit</title>

 {% include 'includes/exhibit/favi.html' %}
 {% include 'includes/exhibit/css.html' %}


</head>

<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
  <main>
    <div class="page-loader">
      <div class="loader">Loading...</div>
    </div>

    {% include 'main/components/navs/NavExhibit.html' %}
    
    <section class="module bg-dark-60 portfolio-page-header"
                data-background="https://media.giphy.com/media/3o7TKxRb4T5gWi9u1O/giphy.gif">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <!-- step 2: also change title -->
                            <h2 class="module-title font-alt">High Value Crops Production Through HydroponicsTechnology
                            </h2>
                        </div>
                    </div>
                </div>
            </section>
      <section class="module">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-8 col-lg-8">
              <div class="post-images-slider">
                <ul class="slides">
                  <li><img class="center-block"
                    src="{% static 'images/assets/kabuhayan/High Value Crops Production through Hydroponics Technology/64702812_1376715222467172_1655448234610393088_n.png' %}"
                      alt="Slider Image" /></li>
                  <li><img class="center-block"
                    src="{% static 'images/assets/kabuhayan/High Value Crops Production through Hydroponics Technology/72870594_426541818045791_2529005365270413312_n.png' %}"
                      alt="Slider Image" /></li>
                  <li><img class="center-block"
                    src="{% static 'images/assets/kabuhayan/High Value Crops Production through Hydroponics Technology/GNHS_Hydroponics1.png' %}"
                      alt="Slider Image" /></li>
                  <li><img class="center-block"
                    src="{% static 'images/assets/kabuhayan/High Value Crops Production through Hydroponics Technology/GNHS_Hydroponics2.png' %}"
                      alt="Slider Image" /></li>
                  <li><img class="center-block"
                    src="{% static 'images/assets/kabuhayan/High Value Crops Production through Hydroponics Technology/GNHS_Hydroponics3.png' %}"
                      alt="Slider Image" /></li>
                  <li><img class="center-block"
                    src="{% static 'images/assets/kabuhayan/High Value Crops Production through Hydroponics Technology/GSJMI.png' %}"
                      alt="Slider Image" /></li>
                  <li><img class="center-block"
                    src="{% static 'images/assets/kabuhayan/High Value Crops Production through Hydroponics Technology/Hydroponics Map.png' %}"
                      alt="Slider Image" /></li>
                  <li><img class="center-block"
                    src="{% static 'images/assets/kabuhayan/High Value Crops Production through Hydroponics Technology/Hydroponics.png' %}"
                      alt="Slider Image" /></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
              <div class="work-details">
                <h5 class="work-details-title font-alt">Project Details</h5>
                <p>As the world’s population continue to rise while agricultural land decreases food security and food
                  safety is at risk. With commercial products prices are drastically changing over the years, and low
                  income are generated by most of the families, healthy and good quality food has been put at the bottom
                  of the priority bucket. The DOST-III in partmership with Central Luzon State University Center for
                  Hydroponics and Aquaponics technology deployed twenty (20) total units of Hydroponics in the whole
                  Central Luzon as response in the pursuit of sustainable development. One of the goals is to promote a
                  sustainable technology for producing High Value Crops to ensure food safety and availability.<br><br>
                  The DOST-III partnered with Local Government Units, High Schools, and workers groups or associations
                  to promote sustainable, soil less, and modern agriculture. With this, the concept of soil-less
                  agriculture was introduced and enable them to produce quality and safe food with higher productivity
                  per unit area while using only a fraction of the water that they would otherwise consume under
                  traditional farmer's practice.<br>
                  In a one square meter of land area the group was able to plant 360 plants of high value crops mainly
                  leafy vegetables using the technology and can harvest about 10 to 20 kg of leafy vegetables. The crops
                  that can be planted using this technology are not limited to the following, pechay, mustard, lettuce,
                  basil, mint, swamp cabbage, kale, and spinach.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
  
  
        <hr class="divider-w">

        {% include 'main/pages/exhibit/pages/kabuhayan/widgets/RelatedProjects.html' %}
        
      </div>
       
      {% include 'main/components/footers/modules/FooterModule_1.html' %}
      {% include 'main/components/footers/Footer.html' %}

    
  </main>

  {% include 'includes/exhibit/js.html' %}

</body>

</html>