{% load static %}

<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Document Title -->
    <title>DOST R3 | Virtual Exhibit</title>

    {% include 'includes/exhibit/favi.html' %}
    {% include 'includes/exhibit/css.html' %}


</head>

<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>

        {% include 'main/components/navs/NavExhibit.html' %}

        <div class="main">
            <section class="module bg-dark-60 portfolio-page-header"
                data-background="https://media.giphy.com/media/gO48yi3X6WCHe/giphy.gif">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <!-- step 2: also change title -->
                            <h2 class="module-title font-alt">Mush-Room for Improvement: Establishment of Mushroom
                                Production for the livelihood of the Indigenous People of Bangkal, Bataan</h2>
                        </div>
                    </div>
                </div>
            </section>>
            <section class="module">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-8 col-lg-8">
                            <div class="post-images-slider">
                                <ul class="slides">
                                    <li><img class="center-block"
                                            src="{% static 'images/assets/kabuhayan/Livelihood Projects/Mush-room for Improvement/124693457_389206922520178_307719661316999667_n.png' %}"
                                            alt="Slider Image" />
                                    </li>
                                    <li><img class="center-block"
                                            src="{% static 'images/assets/kabuhayan/Livelihood Projects/Mush-room for Improvement/BPSU.Mushroom5.png' %}"
                                            alt="Slider Image" />
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="work-details">
                                <h5 class="work-details-title font-alt">Nutritive and health-promoting value of
                                    mushrooms.</h5>
                                <p>The Indigenous People (commonly called Aeta) represent nearly 14% of the country’s
                                    population. They are among the poorest and the most disadvantaged ethnic group in
                                    the country. Illiteracy, unemployment, and incidence of poverty are much higher
                                    among them than the rest of the population. IP settlements are remote, without
                                    access to basic services, and are characterized by a high incidence of morbidity,
                                    mortality, and malnutrition. In this endeavor, the Bataan Peninsula State University
                                    in partnership with different agencies assisted the community through research,
                                    production, and extension services. One of the regular extension activities offered
                                    by the Abucay campus of BPSU is the promotion of mushroom specifically oyster
                                    mushrooms and rice straw/banana mushroom and their economic importance.<br><br>

                                    The DOST-III through its Community Empowerment through Science and Technology (CEST)
                                    Program, provided appropriate technology and a mushroom production facility and
                                    processing to provide a livelihood program for the IPs in Bangkal, Abucay. Eleven
                                    (11) Aetas along with their community chieftain attended the capacity building
                                    conducted at the Central Luzon State University last September 19 & 20, 2019. In
                                    addition to that, an Interactive Multimedia Audio Visual Teaching Aids was also
                                    given to the Samal National High School Annex Bangkal Extension. At present there
                                    are currently five (5) members who goes to the BPSU to continue their mushroom
                                    processing even with the on-going pandemic.

                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <hr class="divider-w">

        </div>

        {% include 'main/pages/exhibit/pages/kabuhayan/widgets/RelatedProjects.html' %}

        {% include 'main/components/footers/modules/FooterModule_1.html' %}
        {% include 'main/components/footers/Footer.html' %}

        </div>
    </main>

    {% include 'includes/exhibit/js.html' %}

</body>

</html>