{% load static %}

<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <!-- Document Title -->
  <title>DOST R3 | Virtual Exhibit</title>

  {% include 'includes/exhibit/favi.html' %}
  {% include 'includes/exhibit/css.html' %}

</head>

<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
  
  <main>
    <div class="page-loader">
      <div class="loader">Loading...</div>
    </div>
    {% include 'main/components/navs/NavExhibit.html' %}
    <section class="home-section home-parallax home-fade bg-dark-30" id="home" data-background="{% static 'images/assets/kabuhayan/Setup/bg.png' %}">
      <div class="titan-caption">
        <div class="caption-content">
          <div class="font-alt mb-30 titan-title-size-1">Kabuhayan</div>
          <div class="font-alt mb-40 titan-title-size-4">SETUP 2.0: </div>
          <div class="font-alt mb-30 titan-title-size-2">Bringing Science, Technology and Innovation to the MSME Challenge
          </div>
        </div>
      </div>
    </section>
    <div class="main">
        <section class="module bg-dark-60 parallax-bg"
        data-background="https://media.giphy.com/media/ToMjGpjm9vQhsB4cqVa/giphy.gif">
    </section>
    <section class="module bg-dark-60" data-background="{% static 'images/assets/kabuhayan/bg/Setup2.jpg' %}" id="portfolio">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="video-box">
                <!-- SETUP Program Description.avi -->
                <div class="video-box-icon"><a class="video-pop-up"
                    href="https://www.youtube.com/watch?v=ubrY6j7vy8M"><span
                      class="icon-video"></span></a></div>
                <div class="video-title font-alt">SETUP Program Description</div>
                <div class="video-subtitle font-alt">Video</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="module">
        <div class="container">
          <ul class="works-grid works-hover-w">
            <a class="col-sm-12">
              <div class="work-image"><img
                  src="{% static 'images/assets/kabuhayan/SETUP2.0 BROCHURE EVALUATED LAYOUT OCT 22, 2019-02 (1).jpg' %}" alt="brochure front">
              </div>
              <div class="work-caption font-alt">
                <h3 class="work-title">SETUP2.0 Brochure</h3>
                <div class="work-descr">Front Page</div>
              </div>
            </a>
          </ul>
        </div>
      </section>
      <section class="module bg-dark-60" data-background="{% static 'images/assets/kabuhayan/bg/MagSetup.jpg' %}" id="portfolio">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="video-box">
                <!-- MAG-SETUP KA NA.mp4 -->
                <div class="video-box-icon"><a class="video-pop-up"
                    href="https://www.youtube.com/watch?v=aQpUDsILeRo"><span
                      class="icon-video"></span></a></div>
                <div class="video-title font-alt">MAG-SETUP KA NA</div>
                <div class="video-subtitle font-alt">Video</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="module-small">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <h2 class="module-title font-alt">SETUP ASSISTED BEST PRODUCTS</h2>
            </div>
          </div>
          <div class="row multi-columns-row">
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="shop-item">
                <div class="shop-item-image"><img src="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Food Processing/Food Processing Bataan Cashew Butter.png' %}" alt="Items"/>
                  <div class="shop-item-detail"><a  href="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Food Processing/Food Processing Bataan Cashew Butter.png' %}" class="btn btn-round btn-b" target="_blank"><span class="icon-magnifying-glass">Click to View</span></a></div>
                </div>
                <h4 class="shop-item-title font-alt"><a href="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Food Processing/Food Processing Bataan Cashew Butter.png' %}" target="_blank">Creamy Cashew Butter</a></h4>Food Processing
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="shop-item">
                <div class="shop-item-image"><img src="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Food Processing/Food Processing Bataan Dilis.png' %}" alt="Items"/>
                  <div class="shop-item-detail"><a  href="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Food Processing/Food Processing Bataan Dilis.png' %}" class="btn btn-round btn-b" target="_blank"><span class="icon-magnifying-glass">Click to View</span></a></div>
                </div>
                <h4 class="shop-item-title font-alt"><a href="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Food Processing/Food Processing Bataan Dilis.png' %}" target="_blank">Dilis-Yoso</a></h4>Food Processing
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="shop-item">
                <div class="shop-item-image"><img src="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Food Processing/Food Processing Bataan Eggpie.png' %}" alt="Items"/>
                  <div class="shop-item-detail"><a  href="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Food Processing/Food Processing Bataan Eggpie.png' %}" class="btn btn-round btn-b" target="_blank"><span class="icon-magnifying-glass">Click to View</span></a></div>
                </div>
                <h4 class="shop-item-title font-alt"><a href="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Food Processing/Food Processing Bataan Eggpie.png' %}" target="_blank">Egg Pie</a></h4>Food Processing
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="shop-item">
                <div class="shop-item-image"><img src="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Furniture/Furniture Tarlac Foldable Rostrum.png' %}" alt="Items"/>
                  <div class="shop-item-detail"><a  href="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Furniture/Furniture Tarlac Foldable Rostrum.png' %}" class="btn btn-round btn-b" target="_blank"><span class="icon-magnifying-glass">Click to View</span></a></div>
                </div>
                <h4 class="shop-item-title font-alt"><a href="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Furniture/Furniture Tarlac Foldable Rostrum.png' %}" target="_blank">Foldable Rostrum</a></h4>Furniture
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="shop-item">
                <div class="shop-item-image"><img src="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Furniture/Furniture Tarlac Racking Cradle.png' %}" alt="Items"/>
                  <div class="shop-item-detail"><a  href="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Furniture/Furniture Tarlac Racking Cradle.png' %}" class="btn btn-round btn-b" target="_blank"><span class="icon-magnifying-glass">Click to View</span></a></div>
                </div>
                <h4 class="shop-item-title font-alt"><a href="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Furniture/Furniture Tarlac Racking Cradle.png' %}" target="_blank">Cresent Moon Racking Cradle</a></h4>Furniture
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="shop-item">
                <div class="shop-item-image"><img src="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Furniture/Furniture Tarlac Sofa Bed.png' %}" alt="Items"/>
                  <div class="shop-item-detail"><a  href="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Furniture/Furniture Tarlac Sofa Bed.png' %}" class="btn btn-round btn-b" target="_blank"><span class="icon-magnifying-glass">Click to View</span></a></div>
                </div>
                <h4 class="shop-item-title font-alt"><a href="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Furniture/Furniture Tarlac Sofa Bed.png' %}" target="_blank">Sofa Bed</a></h4>Furniture
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="shop-item">
                <div class="shop-item-image"><img src="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/GDH/GDH Aurora Cover Pots.png' %}" alt="Items"/>
                  <div class="shop-item-detail"><a  href="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/GDH/GDH Aurora Cover Pots.png' %}" class="btn btn-round btn-b" target="_blank"><span class="icon-magnifying-glass">Click to View</span></a></div>
                </div>
                <h4 class="shop-item-title font-alt"><a href="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/GDH/GDH Aurora Cover Pots.png' %}" target="_blank">Cover Pots</a></h4>GDH
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="shop-item">
                <div class="shop-item-image"><img src="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/GDH/GDH Aurora Placemat (2).png' %}" alt="Items"/>
                  <div class="shop-item-detail"><a  href="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/GDH/GDH Aurora Placemat (2).png' %}" class="btn btn-round btn-b" target="_blank"><span class="icon-magnifying-glass">Click to View</span></a></div>
                </div>
                <h4 class="shop-item-title font-alt"><a href="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/GDH/GDH Aurora Placemat (2).png' %}" target="_blank">Placemat for pots - flower shaped</a></h4>GDH
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="shop-item">
                <div class="shop-item-image"><img src="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/GDH/GDH Aurora Placemat.png' %}" alt="Items"/>
                  <div class="shop-item-detail"><a  href="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/GDH/GDH Aurora Placemat.png' %}" class="btn btn-round btn-b" target="_blank"><span class="icon-magnifying-glass">Click to View</span></a></div>
                </div>
                <h4 class="shop-item-title font-alt"><a href="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/GDH/GDH Aurora Placemat.png' %}" target="_blank">Placemat round shaped </a></h4>GDH
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="shop-item">
                <div class="shop-item-image"><img src="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Health _ Wellness/Health and Wellness NE Turmeric Tea (1).png' %}" alt="Items"/>
                  <div class="shop-item-detail"><a  href="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Health _ Wellness/Health and Wellness NE Turmeric Tea (1).png' %}" class="btn btn-round btn-b" target="_blank"><span class="icon-magnifying-glass">Click to View</span></a></div>
                </div>
                <h4 class="shop-item-title font-alt"><a href="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Health _ Wellness/Health and Wellness NE Turmeric Tea (1).png' %}" target="_blank">Turmeric Tea</a></h4>Health & Wellness
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="shop-item">
                <div class="shop-item-image"><img src="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Health _ Wellness/Health Bulacan PICUR.png' %}" alt="Items"/>
                  <div class="shop-item-detail"><a  href="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Health _ Wellness/Health Bulacan PICUR.png' %}" class="btn btn-round btn-b" target="_blank"><span class="icon-magnifying-glass">Click to View</span></a></div>
                </div>
                <h4 class="shop-item-title font-alt"><a href="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Health _ Wellness/Health Bulacan PICUR.png' %}" target="_blank">Picur</a></h4>Health & Wellness
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="shop-item">
                <div class="shop-item-image"><img src="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Health _ Wellness/Health Bulacan Stevia 2.png' %}" alt="Items"/>
                  <div class="shop-item-detail"><a  href="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Health _ Wellness/Health Bulacan Stevia 2.png' %}" class="btn btn-round btn-b" target="_blank"><span class="icon-magnifying-glass">Click to View</span></a></div>
                </div>
                <h4 class="shop-item-title font-alt"><a href="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Health _ Wellness/Health Bulacan Stevia 2.png' %}" target="_blank">Sweet & Fit Stevia (Powder)</a></h4>Health & Wellness
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="shop-item">
                <div class="shop-item-image"><img src="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Metals _ Engineering/Metals Bulacan Bullet Inspection Tray.png' %}" alt="Items"/>
                  <div class="shop-item-detail"><a  href="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Metals _ Engineering/Metals Bulacan Bullet Inspection Tray.png' %}" class="btn btn-round btn-b" target="_blank"><span class="icon-magnifying-glass">Click to View</span></a></div>
                </div>
                <h4 class="shop-item-title font-alt"><a href="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Metals _ Engineering/Metals Bulacan Bullet Inspection Tray.png' %}" target="_blank">Bullet Inspection Tray</a></h4>Metals and Engineering
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="shop-item">
                <div class="shop-item-image"><img src="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Metals _ Engineering/Metals Bulacan Facemask Sealer.png' %}" alt="Items"/>
                  <div class="shop-item-detail"><a  href="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Metals _ Engineering/Metals Bulacan Facemask Sealer.png' %}" class="btn btn-round btn-b" target="_blank"><span class="icon-magnifying-glass">Click to View</span></a></div>
                </div>
                <h4 class="shop-item-title font-alt"><a href="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Metals _ Engineering/Metals Bulacan Facemask Sealer.png' %}" target="_blank">Facemask Sealer</a></h4>Metals and Engineering
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="shop-item">
                <div class="shop-item-image"><img src="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Metals _ Engineering/Metals Bulacan Homogenizer.png' %}" alt="Items"/>
                  <div class="shop-item-detail"><a  href="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Metals _ Engineering/Metals Bulacan Homogenizer.png' %}" class="btn btn-round btn-b" target="_blank"><span class="icon-magnifying-glass">Click to View</span></a></div>
                </div>
                <h4 class="shop-item-title font-alt"><a href="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Metals _ Engineering/Metals Bulacan Homogenizer.png' %}" target="_blank">Homogenizer</a></h4>Metals and Engineering
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="shop-item">
                <div class="shop-item-image"><img src="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Others/Others Aurora facemask (2).png' %}" alt="Items"/>
                  <div class="shop-item-detail"><a  href="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Others/Others Aurora facemask (2).png' %}" class="btn btn-round btn-b" target="_blank"><span class="icon-magnifying-glass">Click to View</span></a></div>
                </div>
                <h4 class="shop-item-title font-alt"><a href="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Others/Others Aurora facemask (2).png' %}" target="_blank">Face Mask (Kids)</a></h4>Others
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="shop-item">
                <div class="shop-item-image"><img src="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Others/Others Aurora facemask.png' %}" alt="Items"/>
                  <div class="shop-item-detail"><a  href="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Others/Others Aurora facemask.png' %}" class="btn btn-round btn-b" target="_blank"><span class="icon-magnifying-glass">Click to View</span></a></div>
                </div>
                <h4 class="shop-item-title font-alt"><a href="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Others/Others Aurora facemask.png' %}" target="_blank">Face Mask (adults)</a></h4>Others
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="shop-item">
                <div class="shop-item-image"><img src="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Others/Others Pampanga Resin Statues.png' %}" alt="Items"/>
                  <div class="shop-item-detail"><a  href="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Others/Others Pampanga Resin Statues.png' %}" class="btn btn-round btn-b" target="_blank"><span class="icon-magnifying-glass">Click to View</span></a></div>
                </div>
                <h4 class="shop-item-title font-alt"><a href="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Others/Others Pampanga Resin Statues.png' %}" target="_blank">Realistic and Comical Resin Statues</a></h4>Others
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="shop-item">
                <div class="shop-item-image"><img src="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Others/Others Tarlac Acrylic Shield.png' %}" alt="Items"/>
                  <div class="shop-item-detail"><a  href="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Others/Others Tarlac Acrylic Shield.png' %}" class="btn btn-round btn-b" target="_blank"><span class="icon-magnifying-glass">Click to View</span></a></div>
                </div>
                <h4 class="shop-item-title font-alt"><a href="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Others/Others Tarlac Acrylic Shield.png' %}" target="_blank">Acrylic Sneeze Guard</a></h4>Others
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="shop-item">
                <div class="shop-item-image"><img src="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Others/Others Tarlac Ear Guard.png' %}" alt="Items"/>
                  <div class="shop-item-detail"><a  href="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Others/Others Tarlac Ear Guard.png' %}" class="btn btn-round btn-b" target="_blank"><span class="icon-magnifying-glass">Click to View</span></a></div>
                </div>
                <h4 class="shop-item-title font-alt"><a href="{% static 'images/assets/kabuhayan/SETUP-ASSISTED BEST PRODUCTS-20201124T081330Z-001/Others/Others Tarlac Ear Guard.png' %}" target="_blank">Headband Ear Loop Guard</a></h4>Others
              </div>
            </div>
          </div>
          <div class="row mt-30">
            <div class="col-sm-12 align-center"><a class="btn btn-b btn-round" href="{% url 'products'%}" target="_blank">See all products</a></div>
          </div>
        </div>
      </section>
    

      <section class="module bg-dark-60 parallax-bg" data-background="{% static 'images/assets/kabuhayan/success-bg.jpg' %}">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-8 col-lg-6 col-lg-offset-2">
              <div class="callout-text font-alt">
                <h1 class="video-title">Success Stories:</h1>
                <p>STI for Entrepreneurs</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
              <div class="callout-btn-box"><a class="btn btn-w btn-round" href="{% url 'stories' %}">Go to the
                  next page >></a></div>
            </div>
          </div>
        </div>
      </section>

      <section class="module bg-dark-60 parallax-bg"
        data-background="https://media.giphy.com/media/pfPA6Bp9EhLji/giphy.gif">
      </section>

      

      <section class="module container">
        <section class="module" id="services">
            <div class="container">
              <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                  <h2 class="module-title font-alt">KA-SETUP ENEWS</h2>
                </div>
              </div>
            </div>
          </section>
        <ul class="works-grid works-grid-masonry works-hover-w works-grid-4">
          <li class="work-item"><a
              href="{% static 'images/assets/kabuhayan/DOST III Diaspora Greener than Green rev2/DOST III Diaspora Greener than Green rev2-1.jpg' %}" target="_blank">
              <div class="work-image"><img
                  src="{% static 'images/assets/kabuhayan/DOST III Diaspora Greener than Green rev2/DOST III Diaspora Greener than Green rev2-1.jpg' %}"
                  alt="Portfolio Item" />
              </div>
              <div class="work-caption font-alt">
                <h3 class="work-title">DOST III Diaspora Greener than Green</h3>
              </div>
            </a></li>
          <li class="work-item"><a href="{% static 'images/assets/kabuhayan/DOST III iProvide Best SETUP/DOST III iProvide Best SETUP-1.jpg' %}" target="_blank">
              <div class="work-image"><img
                  src="{% static 'images/assets/kabuhayan/DOST III iProvide Best SETUP/DOST III iProvide Best SETUP-1.jpg' %}"
                  alt="Portfolio Item" />
              </div>
              <div class="work-caption font-alt">
                <h3 class="work-title">DOST III iProvide Best SETUP</h3>
              </div>
            </a></li>

          <li class="work-item"><a
              href="{% static 'images/assets/kabuhayan/DOST III SETUP More than A Glimmer rev2/DOST III SETUP More than A Glimmer rev2-3.jpg' %}" target="_blank">
              <div class="work-image"><img
                  src="{% static 'images/assets/kabuhayan/DOST III SETUP More than A Glimmer rev2/DOST III SETUP More than A Glimmer rev2-1.jpg' %}"
                  alt="Portfolio Item" />
              </div>
              <div class="work-caption font-alt">
                <h3 class="work-title">DOST III iProvide Best SETUP</h3>
              </div>
            </a></li>
          <li class="work-item"><a
              href="{% static 'images/assets/kabuhayan/DOST III SETUP Through the Years rev2/DOST III SETUP Through the Years rev2-3.jpg' %}" target="_blank">
              <div class="work-image"><img
                  src="{% static 'images/assets/kabuhayan/DOST III SETUP Through the Years rev2/DOST III SETUP Through the Years rev2-1.jpg' %}"
                  alt="Portfolio Item" />
              </div>
              <div class="work-caption font-alt">
                <h3 class="work-title">DOST III SETUP Through the Years</h3>
                <div class="work-descr">furniture Projects</div>
              </div>
            </a></li>
        </ul>
      </section>

      <section class="module-small parallax-bg bg-dark-60"
        data-background="https://media.giphy.com/media/YmcIK6A7Y29UPxM1Ze/giphy.gif">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-8 col-lg-6 col-lg-offset-2">
              <div class="callout-text font-alt">
                <h3 class="callout-title">DOST oneSTore</h3>
                <p>Link to the oneSTore website, Shop quality local products!</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
              <div class="callout-btn-box"><a class="btn btn-w btn-round" href="https://onestore.ph/" target="_blank">This way to DOST
                  oneSTore >></a></div>
            </div>
          </div>
        </div>
      </section>
      <section class="module-small parallax-bg bg-dark-60"
        data-background="https://media.giphy.com/media/fefXhtGG2NeynEUHtU/giphy.gif">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-8 col-lg-6 col-lg-offset-2">
              <div class="callout-text font-alt">
                <h3 class="callout-title">DOST OneExpert</h3>
                <p>Link to the OneExpert website, Learn from their line up of Free Online Webinars on various S&T
                  topics, brought to you by their very own experts in OneExpert.</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
              <div class="callout-btn-box"><a class="btn btn-w btn-round" href="https://oneexpert.gov.ph/" target="_blank">This way to
                  DOST OneExpert >></a></div>
            </div>
          </div>
        </div>
      </section>


    
     


      


    {% include 'main/components/footers/modules/FooterModule_1.html' %}
    {% include 'main/components/footers/Footer.html' %}
    </div>
  </main>
    

    {% include 'includes/exhibit/js.html' %}

</body>

</html>