{% load static %}

<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    
  <!-- Document Title -->
  <title>DOST R3 | Virtual Exhibit</title>

  {% include 'includes/exhibit/favi.html' %}
  {% include 'includes/exhibit/css.html' %}


</head>

<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
  <main>
    <div class="page-loader">
      <div class="loader">Loading...</div>
    </div>

    {% include 'main/components/navs/NavExhibit.html' %}
    
    <div class="main">
        <section class="module bg-dark-60 portfolio-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h2 class="module-title font-alt">Improvement of Irrigation Practice through Solar Powered
                            Pump</h2>
                    </div>
                </div>
            </div>
        </section>
        <section class="module">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-8 col-lg-8">
                        <div class="post-images-slider">
                            <ul class="slides">
                                <li><img class="center-block"
                                    src="{% static 'images/assets/kabuhayan/Solar Powered Pump/116209501_707229193173317_5057384037369791198_n (2).png' %}"
                                        alt="Slider Image" /></li>
                                <li><img class="center-block"
                                    src="{% static 'images/assets/kabuhayan/Solar Powered Pump/72561096_634742770384077_4488857427004882944_n.png' %}"
                                        alt="Slider Image" /></li>
                                <li><img class="center-block"
                                    src="{% static 'images/assets/kabuhayan/Solar Powered Pump/81309393_467813730782018_3243659245828177920_n (2).png' %}"
                                        alt="Slider Image" /></li>
                                <li><img class="center-block"
                                    src="{% static 'images/assets/kabuhayan/Solar Powered Pump/SolarPoweredPumpArayat.png' %}"
                                        alt="Slider Image" /></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="work-details">
                            <h5 class="work-details-title font-alt">Project Details</h5>
                            <p>Farmers from Central Luzon often have trouble watering their crops during the dry
                                season. There is an increasing demand for irrigation due to the increasing demand
                                for higher food production to sustain the continuously growing population of the
                                country. High diesel and electricity costs affect the pumping requirements for
                                irrigation of small and even big-time farmers. This problem is addressed by the DOST
                                through the provision of Solar Powered Water Pump to different farmer associations
                                scattered in Central Luzon. <br><br>
                                One of the eleven beneficiaries of the Solar Powered Pump in Central Luzon; the Sta
                                Cruz Farmers Association located in Sta Cruz, Lubao, Pampanga. The association
                                primarily produces rice and corn. Through the DOST-III Community Empowerment through
                                Science and Technology (CEST) Program they were provided with a Solar Powered
                                Irrigation Pump. The Solar Powered Pump is used to irrigate their rice crops. Even
                                during the dry season, the Solar Powered Pump in Sta. Cruz, Lubao, Pampanga can
                                irrigate rice fields at a rate of a half-hectare per 4 to 6 hours.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <hr class="divider-w">
        
    </div>
      
      {% include 'main/pages/exhibit/pages/kabuhayan/widgets/RelatedProjects.html' %}
       
      {% include 'main/components/footers/modules/FooterModule_1.html' %}
      {% include 'main/components/footers/Footer.html' %}

    </div>
  </main>

  {% include 'includes/exhibit/js.html' %}

</body>

</html>