{% load static %}

<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    
  <!-- Document Title -->
  <title>DOST R3 | Virtual Exhibit</title>

  {% include 'includes/exhibit/favi.html' %}
  {% include 'includes/exhibit/css.html' %}


</head>

<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
  <main>
    <div class="page-loader">
      <div class="loader">Loading...</div>
    </div>

    {% include 'main/components/navs/NavExhibit.html' %}
    
    <div class="main">
        <section class="module bg-dark-60 portfolio-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h2 class="module-title font-alt">STARBOOKS</h2>
                    </div>
                </div>
            </div>
        </section>
        <section class="module">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-8 col-lg-8">
                        <div class="post-images-slider">
                            <ul class="slides">
                                <li><img class="center-block"
                                        src="{% static 'images/assets/kabuhayan/STARBOOKS/43450475_1922431971181465_6733950503228538880_n.png' %}"
                                        alt="Slider Image" /></li>
                                <li><img class="center-block"
                                    src="{% static 'images/assets/kabuhayan/STARBOOKS/STARBOOKS 13.png' %}"

                                        alt="Slider Image" /></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="work-details">
                            <h5 class="work-details-title font-alt">Project Details</h5>
                            <p>STARBOOKS is stands for Science and Technology Academic and Research –Based Openly 
                                Operated Kiosk Station that contains thousand of
                                digitized science and technology resources in various formats ( text and video/audio).  
                                These resources are placed in specially designed “pods” set in a user-friendly interface. <br><br>
                                It aims to create in the field of science and technology which may increase the number 
                                of Filipinos enrolling S&T courses; encourage great and curious minds 
                                to develop new ideas - invention and innovation; and inspire one’s capacity 
                                for entrepreneurship and research. <br><br>
                                Among its features: <br>
                                - It is a standalone information kiosk, hence, information access is possible even without internet connection;<br>
                                - The information are available only thru “read only” format. <br>
                                - It is an S&T information resource were the materials are sourced out from local and foreign linkages , subscription, archive collections and in-house publications; and <br>
                                - It has “Tamang DOSTkarte Livelihood videos” to promote and support entrepreneurial spirit.</p>
                                Through  the initiative of Regional Secretary MYRA M. ALIH, the DOST-ARMM in partnership with DOST-STII and with coordination with DepEd-ARMM the program is now on the smooth implementation by donating a 
                                complete package  of STARBOOKS  (including computer set) to the following schools identified and recommended by DepEd-ARMM:<br>
                                1. Dumarpa Maniri Pimping National Science High School, Marawi City<br>
                                2. ARMM Regional Science High School, Parang, Maguindanao<br>
                                3Tawi-Tawi School of Arts and Trades (TTSAT) – STE Implementing School, Bongao, Tawi-Tawi<br>
                                4. Lamitan National High School – STE Implementing School, Lamitan City<br>
                                5. Jolo Agricultural School (JAS) – Senior Science High School Early Implementing school, Jolo, Sulu
                                6. For Basilan Province <br>
                                7. Bacolod Kalawi National High School, Bacolod Lanao del sur.<br>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <hr class="divider-w">
        
    </div>
      
      {% include 'main/pages/exhibit/pages/kabuhayan/widgets/RelatedProjects.html' %}
       
      {% include 'main/components/footers/modules/FooterModule_1.html' %}
      {% include 'main/components/footers/Footer.html' %}

    </div>
  </main>

  {% include 'includes/exhibit/js.html' %}

</body>

</html>