{% load static %}

<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    
  <!-- Document Title -->
  <title>DOST R3 | Virtual Exhibit</title>

  {% include 'includes/exhibit/favi.html' %}
  {% include 'includes/exhibit/css.html' %}


</head>

<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
  <main>
    <div class="page-loader">
      <div class="loader">Loading...</div>
    </div>

    {% include 'main/components/navs/NavExhibit.html' %}
    
    <div class="main">
      <section class="module bg-dark-60 portfolio-page-header">
          <div class="container">
              <div class="row">
                  <div class="col-sm-6 col-sm-offset-3">
                      <h2 class="module-title font-alt">Empowering Women through Science and Technology</h2>
                  </div>
              </div>
          </div>
      </section>
      <section class="module">
          <div class="container">
              <div class="row">
                  <div class="col-sm-6 col-md-8 col-lg-8">
                      <div class="post-images-slider">
                          <ul class="slides">
                              <li><img class="center-block"
                  src="{% static 'images/assets/kabuhayan/Livelihood Projects/Empowering Women through Science and Technology/Fish Processing-0.PNG' %}"
                                      alt="Slider Image" /></li>
                              <li><img class="center-block"
                  src="{% static 'images/assets/kabuhayan/Livelihood Projects/Empowering Women through Science and Technology/Fish Processing-1.png' %}"
                                      alt="Slider Image" /></li>
                              <li><img class="center-block"
                  src="{% static 'images/assets/kabuhayan/Livelihood Projects/Empowering Women through Science and Technology/Fish Processing-2.png' %}"
                                      alt="Slider Image" /></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-4">
                      <div class="work-details">
                          <h5 class="work-details-title font-alt">Project Details</h5>
                          <p>The Samahang Ugnayan ng mga Kababaihang Mag-iisda ng Paltik is a women’s cooperative
                              producing fish products like Sardines in oil, salmon in oil, dried fish tocino, fish
                              longganisa and smoked fish. The group started producing in year 2016 with the
                              initial capital of only Php 10,000.00. The cooperative was registered under business
                              in year 2017 by the Department of Labor and employment with the enterprise
                              registration number no. RO307-0917-WA-01. The primary resources of the group they
                              use for production are yellowfin tuna, dorado/lamarang, and salmon. All of which can
                              be available locally. The products are sold at the bagsakan center at Dingalan Bus
                              Terminal and some are bought by the walk-in visitors of LGU-Dingalan.<br><br>
                              The DOST-III improved the cooperative’s production through the provision of
                              appropriate equipment such as Fish Dryer/Mechanical Dryers, Fish Meat Grinder,
                              Vaccuum Packaging Machine, Chest Type Freezer, and other technology suitable for
                              fish production. In addition to that, the agency also assisted on the improved
                              packaging and label design execution. <br><br>
                              Through these interventions, the group’s challenges such as lack of fish processing
                              equipment and capability to process other fish products and low employment were
                              addressed. Notable impacts for this project are improved product quality, improved
                              productivity from 30% to 50%. The group was also able to produce other products and
                              improved their fish cuttings. From May 2019 to May 2020 the group processed about
                              10MT of fish with a total sale of Php 150,000.00. The group’s total sales the
                              interventions became Php 250,000.00 ,66% much higher compared to the previous year
                              income. In fact, the group was able to increase the marketability of their products
                              through the packaging and labelling assistance provided by DOST-III.
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </section>


  
  </div>
  
  
        <hr class="divider-w">
      </div>


      <hr class="divider-w">
      
      {% include 'main/pages/exhibit/pages/kabuhayan/widgets/RelatedProjects.html' %}
       
      {% include 'main/components/footers/modules/FooterModule_1.html' %}
      {% include 'main/components/footers/Footer.html' %}

    </div>
  </main>

  {% include 'includes/exhibit/js.html' %}

</body>

</html>