{% load static %}

<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    
  <!-- Document Title -->
  <title>DOST R3 | Virtual Exhibit</title>

  {% include 'includes/exhibit/favi.html' %}
  {% include 'includes/exhibit/css.html' %}


</head>

<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
  <main>
    <div class="page-loader">
      <div class="loader">Loading...</div>
    </div>

    {% include 'main/components/navs/NavExhibit.html' %}
    
    <div class="main">
      <section class="module bg-dark-60 portfolio-page-header"
      data-background="https://media.giphy.com/media/l2SqgPb6K7L35sXAc/giphy.gif">
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                  <!-- step 2: also change title -->
                  <h2 class="module-title font-alt">Samahang Zambaleña Sews Their Way to Success</h2>
              </div>
          </div>
      </div>
  </section>
        <section class="module">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-md-8 col-lg-8">
                <div class="post-images-slider">
                  <ul class="slides">
                    <li><img class="center-block"
                  src="{% static 'images/assets/kabuhayan/Livelihood Projects/Samahang Zambaleña sews their way to success/balincaguing.png' %}"
                        alt="Slider Image" />
                    </li>
                    <li><img class="center-block"
                  src="{% static 'images/assets/kabuhayan/Livelihood Projects/Samahang Zambaleña sews their way to success/DSC_0746.png' %}"
                        alt="Slider Image" /></li>
                    <li><img class="center-block"
                  src="{% static 'images/assets/kabuhayan/Livelihood Projects/Samahang Zambaleña sews their way to success/DSC_0767.png' %}"
                        alt="Slider Image" /></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="work-details">
                  <h5 class="work-details-title font-alt">Project Details</h5>
                  <p>In 2016, 22 members of the Samahang Zambaleña Balincaguing Chapter thrive in their small sewing
                    business. Their products include potholders, rags, cleopatra linen, and often curtains and pillowcase.
                    The members only have 1 sewing machine and they often had difficulty in getting materials for their
                    business. Because of this, some of the members quit and in 2018, only 5 members remain and were
                    dedicated in continuing their sewing livelihood.<br><br>
                    The group, through the coordination of LGU-San Felipe, sought the assistance of the Department of
                    Science and Technology - III (DOST-III) for the acquisition of their livelihood needs. In 2019, the
                    group was granted with the project that aims to upgrade their sewing facility through the provision of
                    appropriate equipment such as high-speed sewing machines and edging machine. Over a year of
                    implementation, the group was able to increase their sales and improve their productivity.
                    Productivity in rags increased from 30pcs/day to 60pcs/day, potholder from 50pcs/day to 100pcs/day,
                    and Cleopatra linen from 7pcs/day to 10pcs/day. With the Covid-19 pandemic, they were able to produce
                    cloth facemasks and they cater bulk orders from different LGUs and other offices in Zambales. From 5
                    members operating the sewing facility, employment increased to 10. With the efforts of these members,
                    they were able to increase their income up to 96% after 1 year of implementation.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
  
  
        <hr class="divider-w">
      </div>


      <hr class="divider-w">
      
      {% include 'main/pages/exhibit/pages/kabuhayan/widgets/RelatedProjects.html' %}
       
      {% include 'main/components/footers/modules/FooterModule_1.html' %}
      {% include 'main/components/footers/Footer.html' %}

    </div>
  </main>

  {% include 'includes/exhibit/js.html' %}

</body>

</html>