{% load static %}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>DOST R3 | Virtual Exhibit</title>
        {% include 'includes/exhibit/favi.html' %}
        {% include 'includes/exhibit/css.html' %}
    </head>
    <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
        <main>
          <div class="page-loader">
            <div class="loader">Loading...</div>
          </div>
          {% include 'main/components/navs/NavExhibit.html' %}
          <div class="main">
            <section class="module bg-dark-60 portfolio-page-header" data-background="{% static 'images/gifs/exhibit.gif' %}">
              <div class="container">
                <div class="row">
                  <div class="col-sm-6 col-sm-offset-3">
                    <div class="caption-content">
                        <div class="font-alt mb-30 titan-title-size-4"><span class="title-glow-1">Virtual Exhibit</span></div>
                        <div class="font-alt mb-40 titan-title-size-1">“Agham at Teknolohiya: Sandigan ng <br>Kalusugan, Kabuhayan, Kaayusan at Kinabukasan”</div>
                </div>
                  </div>
                </div>
              </div>
            </section>
            <section class="module">
              <div class="container">
                <div class="row">
                  <div class="col-sm-12">
                    <ul class="filter font-alt" id="filters">
                      <li><a class="current wow fadeInUp" style="cursor: pointer;" data-filter="*">All</a></li>
                      <li><a class="wow fadeInUp" style="cursor: pointer;" data-filter=".kinabukasan" data-wow-delay="0.2s">Kinabukasan</a></li>
                      <li><a class="wow fadeInUp" style="cursor: pointer;" data-filter=".kaayusan" data-wow-delay="0.4s">Kaayusan</a></li>
                      <li><a class="wow fadeInUp" style="cursor: pointer;" data-filter=".kalusugan" data-wow-delay="0.6s">Kalusugan</a></li>
                      <li><a class="wow fadeInUp" style="cursor: pointer;" data-filter=".kabuhayan" data-wow-delay="0.6s">Kabuhayan</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <ul class="works-grid works-grid-masonry works-hover-w" id="works-grid">
                <li class="work-item kinabukasan">
                    <a href="{% url 'bataanProjects' %}">
                        <div class="work-image">
                            <img src="{% static 'images/assets/kinabukasan/intro/train-bg.jpg' %}" alt="Kinabukasan Item"/>
                        </div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">Bataan Projects</h3>
                            <div class="work-descr">Automated Guide-Way Transit</div>
                        </div>
                    </a>
                </li>
                <li class="work-item kinabukasan">
                    <a href="{% url 'bulacanProjects' %}">
                        <div class="work-image">
                            <img src="{% static 'images/assets/kinabukasan/intro/spice-poster.jpg' %}" alt="Kinabukasan Item" style="filter: brightness(50%); "/>
                        </div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">Bulacan Projects</h3>
                            <div class="work-descr">Food Innovation Center</div>
                        </div>
                    </a>
                </li>
                <li class="work-item kinabukasan">
                    <a href="{% url 'pampangaProjects' %}">
                        <div class="work-image">
                            <img src="{% static 'images/assets/kinabukasan/intro/tamarind-bg.jpg' %}" alt="Kinabukasan Item"/>
                        </div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">Pampanga Projects</h3>
                            <div class="work-descr">PSAU Tamarind Center</div>
                        </div>
                    </a>
                </li>
                <li class="work-item kinabukasan">
                    <a href="{% url 'tarlacProjects' %}">
                        <div class="work-image">
                            <img src="{% static 'images/assets/kinabukasan/intro/sweetPotato_img.jpg' %}" alt="Kinabukasan Item"/>
                        </div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">Tarlac Projects</h3>
                            <div class="work-descr">Sweet Potato R&D Center</div>
                        </div>
                    </a>
                </li>
                <li class="work-item kinabukasan">
                    <a href="{% url 'otherProjects' %}">
                        <div class="work-image">
                            <img src="{% static 'images/assets/kinabukasan/intro/nanotech_img.jpg' %}" alt="Kinabukasan Item"/>
                        </div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">Support to the Continuous Operation of the NEUST Metal Innovation Center
                            </h3>
                            <div class="work-descr">Other Projects</div>
                        </div>
                    </a>
                </li>
                <li class="work-item kaayusan">
                    <a href="{% url 'clock' %}">
                        <div class="work-image">
                            <img src="{% static 'images/assets/kaayusan/swan/1.png' %}" alt="Kaayusan Item" style="filter: brightness(50%); "/>
                        </div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">Prototype Development of Severe Weather Amphibious Navigator (SWAN) Using Local Abaca Composites
                            </h3>
                            <div class="work-descr"></div>
                        </div>
                    </a>
                </li>
                <li class="work-item kaayusan">
                    <a href="{% url 'duck' %}">
                        <div class="work-image">
                            <img src="{% static 'images/assets/kaayusan/duck/12.png' %}" alt="Kaayusan Item" style="filter: brightness(50%); "/>
                        </div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">D.U.C.K.
                            </h3>
                            <div class="work-descr">Design and Development of Disaster-Use Converted Ketch</div>
                        </div>
                    </a>
                </li>
                <li class="work-item kalusugan">
                    <a href="{% url 'clhrdc' %}">
                        <div class="work-image">
                            <img src="{% static 'images/assets/kalusugan/intro/clhrdc-bg.jpg' %}" alt="Kalusugan Item"/>
                        </div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">CLHRDC 
                            </h3>
                            <div class="work-descr">Central Luzon Health Research and Development Consortium</div>
                        </div>
                    </a>
                </li>
                <li class="work-item kalusugan">
                    <a href="{% url 'feeding' %}">
                        <div class="work-image">
                            <img src="{% static 'images/assets/kalusugan/Complementary Food Feeding Program/image1.png' %}" alt="Kalusugan Item"/>
                        </div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">Complementary Food Feeding Program 
                            </h3>
                        </div>
                    </a>
                </li>
                <li class="work-item kalusugan">
                    <a href="{% url 'rxbox' %}">
                        <div class="work-image">
                            <img src="{% static 'images/assets/kalusugan/intro/RxBox.PNG' %}" alt="Kalusugan Item" style="filter: brightness(50%); "/>
                        </div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">RxBOX 
                            </h3>
                            <div class="work-descr">RxBOX is a multi-component program designed to provide better access to life-saving health care services in isolated and disadvantaged communities nationwide.</div>
                        </div>
                    </a>
                </li>
                <li class="work-item kabuhayan">
                    <a href="{% url 'ecest' %}">
                        <div class="work-image">
                            <img src="{% static 'images/assets/kabuhayan/cest-vid-bg/vid1-bg.png' %}" alt="Kabuhayan Item" style="filter: brightness(50%); "/>
                        </div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">eCEST</h3>
                            <div class="work-descr">Economic Development</div>
                        </div>
                    </a>
                </li>
                <li class="work-item kabuhayan">
                    <a href="{% url 'setup' %}">
                        <div class="work-image">
                            <img src="{% static 'images/assets/kabuhayan/bg/Setup.png' %}" alt="Kabuhayan Item" style="filter: brightness(50%); "/>
                        </div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">SETUP 2.0</h3>
                            <div class="work-descr">Economic Development</div>
                        </div>
                    </a>
                </li>
                <li class="work-item kabuhayan">
                    <a href="{% url 'sntservice' %}">
                        <div class="work-image">
                            <img src="{% static 'images/assets/kabuhayan/bg/Testing.png' %}" alt="Kabuhayan Item" style="filter: brightness(50%); "/>
                        </div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">S&T Services</h3>
                            <div class="work-descr">Economic Development</div>
                        </div>
                    </a>
                </li>
              </ul>
            </section>
            <section class="module bg-dark-60 pt-0 pb-0 parallax-bg testimonial" data-background="{% static 'images/gifs/projects.gif' %}">
                <div class="testimonials-slider pt-140 pb-140">
                </div>
            </section>
            {% include 'main/components/footers/modules/FooterModule_1.html' %}
            {% include 'main/components/footers/Footer.html' %}
          </div>
        </main>
        {% include 'includes/exhibit/js.html' %}
    </body>
</html>