{% load static %}

<!DOCTYPE html>

<html lang="en-US" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>DOST R3 | Admin Panel</title>

    {% include 'includes/exhibit/favi.html' %}
    {% include 'includes/exhibit/css.html' %}

    </head>
    <body>

    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>
    
    <div class="admin-container">
        <div class="admin-forms-container">
            <div class="admin-signin-signup">
                <form action="" class="admin-sign-in-form" method="post">
                    {% csrf_token %}
                    <h2 class="admin-title">Sign in</h2>
                    <div class="admin-input-field">
                        <i class="fas fa-user-shield"></i>
                        <input type="text" placeholder="Username" name="username"/>
                    </div>
                    <div class="admin-input-field">
                        <i class="fas fa-key"></i>
                        <input type="password" placeholder="Password" name="password"/>
                    </div>
                    Developed by Buzzflow
                    {% for message in messages %}
                    <p>{{ message }}</p>
                    {% endfor %}
                    <button type="submit" value="Login" class="admin-btn solid" />
                        Login
                    </button>
                    <img src="{% static 'images/panel/login/buzzflow.png' %}" class="admin-image" alt="company-logo"/>
                </form>
            </div>
        </div>
    </div>


    {% include 'includes/exhibit/js.html' %}
    
    </body>
</html>