{% load static %}

<!DOCTYPE html>

<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Document Title -->
    <title>DOST R3 | Virtual Exhibit</title>

    {% include 'includes/exhibit/favi.html' %}
    {% include 'includes/exhibit/css.html' %}
    

  </head>
  <body>

    <main>
      <div class="page-loader">
        <div class="loader">Loading...</div>
      </div>
    
      <nav class="navbar navbar-custom navbar-fixed-top navbar-transparent" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Navigation</span></button><a class="navbar-brand a-hidden" href="{% url 'home' %}"><img src="{% static 'images/logo/DOST.png' %}" width="20">&nbsp;NSTW<span style="color: #00ADEC">DOST III</span></a>
          </div>
        </div>
      </nav>
      <section class="home-section home-parallax home-fade home-full-height" id="home">
        <div class="hero-slider">
          <ul class="slides">
            <li class="bg-dark-30 bg-dark" id="landing-bg">
              <div class="titan-caption">
                <div class="caption-content">
                  <div class="font-alt titan-title-size-2 pb-50">Department of 
                      <br>Science and Technology
                      <br>Region III
                    </div>
                      <p class="mb-30">Presents</p>
                      <h4 class="pb-50">Agham at Teknolohiya: Sandigan ng</h4>
                      <div class="main__content pb-50">
                        <div class="content__container">
                          <ul class="content__container__list">
                            <li class="content__container__list__item">Kalusugan</li>
                            <li class="content__container__list__item">Kabuhayan</li>
                            <li class="content__container__list__item">Kaayusan</li>
                            <li class="content__container__list__item">Kinabukasan</li>
                          </ul>
                        </div>
                      </div>
                    <div class="content">
                    </div>
                  <div class="font-alt mb-30 titan-title-size-4 header-title title-glow-1">Virtual <span class="title-glow-2">Exhibit</span></div><a class="section-scroll btn btn-border-w btn-round" id="btn-glow" href="{% url 'registerAttendance' %}">Register Here</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
    </main>

    {% include 'includes/exhibit/js.html' %}
    
  </body>
</html>
