{% load static %}

<section class="module container">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt">OTHER ARTICLES</h2>
        </div>
      </div>
    </div>
    <ul class="works-grid works-grid-masonry works-hover-w works-grid-4">
      <!-- article 1 -->
      <li class="work-item"><a href="{% url 'article1' %}">
          <div class="work-image"><img
              src="{% static 'images/assets/kabuhayan/featured articles/1. DOST Provides Transplanters to Rice Farmers in Central Luzon/images/image2.png' %}"
              alt="Portfolio Item" />
          </div>
          <div class="work-caption font-alt">
            <h3 class="work-title">DOST Provides Transplanters to Rice Farmers in Central Luzon</h3>
          </div>
        </a></li>
      <!-- article 2 -->
      <li class="work-item"><a href="{% url 'article2' %}">
          <div class="work-image"><img
              src="{% static 'images/assets/kabuhayan/Solar_Powered_Pump/81309393_467813730782018_3243659245828177920_n (2).png' %}"
              alt="Portfolio Item" />
          </div>
          <div class="work-caption font-alt">
            <h3 class="work-title">Improvement of Irrigation Practice through Solar Powered Pump</h3>
          </div>
        </a></li>
      <!-- article 3 -->
      <li class="work-item"><a href="{% url 'article3' %}">
          <div class="work-image"><img
              src="{% static 'images/assets/kabuhayan/featured articles/3. DOST Awards Villae-Type Rice Mills to CEST Communities in Central Luzon/images/image1.png' %}"
              alt="Portfolio Item" />
          </div>
          <div class="work-caption font-alt">
            <h3 class="work-title">Expanded Implementation CEST in Pantabangan, Nueva Ecija: Process and Product
              Improvement of Cashew Products of the Nagkakaisang Kababaihan ng Conversion</h3>
          </div>
        </a></li>
      <!-- article 4 -->
      <li class="work-item"><a href="{% url 'article4' %}">
          <div class="work-image"><img
              src="{% static 'images/assets/kabuhayan/featured articles/4. Abelling IP Tribe in Tarlac Gets DOST Assistance/images/image1.png' %}"
              alt="Portfolio Item" />
          </div>
          <div class="work-caption font-alt">
            <h3 class="work-title">Mush-Room for Improvement: Establishment of Mushroom Production for the
              livelihood of the Indigenous People of Bangkal, Bataan</h3>
          </div>
        </a></li>
      <!-- article 5 -->
      <li class="work-item"><a href="{% url 'article5' %}">
          <div class="work-image"><img
              src="{% static 'images/assets/kabuhayan/featured articles/5. DOST-III PROVIDES LIVELIHOOD EQUIPMENT IN BOCAUE, BULACAN/images/image1.png' %}"
              alt="Portfolio Item" />
          </div>
          <div class="work-caption font-alt">
            <h3 class="work-title">Carrageenan Plan Growth Promoter Technology</h3>
          </div>
        </a></li>
      <!-- article 6 -->
      <li class="work-item"><a href="{% url 'article6' %}">
          <div class="work-image"><img
              src="{% static 'images/assets/kabuhayan/featured articles/6. DOST III PROVIDES LIVELIHOOD EQUIPMENT TO ECEST BENEFICIARIES IN DINGALAN/images/image1.png' %}"
              alt="Portfolio Item" />
          </div>
          <div class="work-caption font-alt">
            <h3 class="work-title">S&T driven livelihood towards empowerment of Abelling Tribe</h3>
          </div>
        </a></li>
      <!-- article 7 -->
      <li class="work-item"><a href="{% url 'article7' %}">
          <div class="work-image"><img
              src="{% static 'images/assets/kabuhayan/featured articles/7. ECEST INTERVENTIONS TO EMPOWER COMMUNITIES IN SAN FELIPE, ZAMBALES/images/image1.png' %}"
              alt="Portfolio Item" />
          </div>
          <div class="work-caption font-alt">
            <h3 class="work-title">Samahang Zambaleña Sews Their Way to Success</h3>
          </div>
        </a></li>
    </ul>
  </section>