{% load static %}

<section class="module">
  <div class="container">
    <div class="row">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="module-title font-alt">Related Projects</h4>
        </div>
      </div>
    </div>
    <ul class="works-grid works-grid-gut works-grid-4 works-hover-w" id="works-grid">
      <li class="work-item economic"><a href="{% url 'carra' %}">
          <div class="work-image"><img
              src="{% static 'images/assets/kabuhayan/SMART Hybrid Rice Production Project/Compact Impeller Brown Rice Mill/IMG_0009.png' %}"
              alt="Item"/>
          </div>
          <div class="work-caption font-alt">
            <h3 class="work-title">Compact Impeller Brown Rice Mill</h3>
            <div class="work-descr">Economic Development</div>
          </div>
        </a></li>
      <li class="work-item livelihood"><a href="{% url 'cashew' %}">
          <div class="work-image"><img
              src="{% static 'images/assets/kabuhayan/Livelihood Projects/Women in Action, Improving the Cashew industry in Conversion/Cashew Processing-3.png' %}"
              alt="Item" />
          </div>
          <div class="work-caption font-alt">
            <h3 class="work-title">Women in Action, Improving the Cashew industry in Conversion</h3>
            <div class="work-descr">Livelihood</div>
          </div>
        </a></li>
      <li class="work-item education"><a href="{% url 'books' %}">
          <div class="work-image">
            <img src="{% static 'images/assets/kabuhayan/STARBOOKS/STARBOOKS 13.png' %}" alt="Item" />
          </div>
          <div class="work-caption font-alt">
            <h3 class="work-title">STARBOOKS</h3>
            <div class="work-descr">Education and Human Development</div>
          </div>
        </a></li>
      <li class="work-item economic"><a href="{% url 'transplant' %}" >
          <div class="work-image"><img
            src="{% static 'images/assets/kabuhayan/SMART Hybrid Rice Production Project/Tranplanting/transplanter.png' %}"
              alt="Item" />
          </div>
          <div class="work-caption font-alt">
            <h3 class="work-title">Transplanting</h3>
            <div class="work-descr">Economic Development</div>
          </div>
        </a></li>
      <li class="work-item economic"><a href="{% url 'double' %}">
          <div class="work-image"><img
            src="{% static 'images/assets/kabuhayan/SMART Hybrid Rice Production Project/Double Mulching Technique/03.png' %}"
              alt="Item" />
          </div>
          <div class="work-caption font-alt">
            <h3 class="work-title">Double Mulching Technique</h3>
            <div class="work-descr">Economic Development</div>
          </div>
        </a></li>
      <li class="work-item economic"><a href="{% url 'hydro' %}">
          <div class="work-image"><img
            src="{% static 'images/assets/kabuhayan/High Value Crops Production through Hydroponics Technology/GNHS_Hydroponics1.png' %}"
              alt=" Item" />
          </div>
          <div class="work-caption font-alt">
            <h3 class="work-title">High Value Crops Production through Hydroponics Technology</h3>
            <div class="work-descr">Economic Development</div>
          </div>
        </a></li>
      <li class="work-item livelihood"><a href="{% url 'zambelena' %}">
          <div class="work-image"><img
            src="{% static 'images/assets/kabuhayan/Livelihood Projects/Samahang Zambaleña sews their way to success/DSC_0746.png' %}"
              alt=" Item" />
          </div>
          <div class="work-caption font-alt">
            <h3 class="work-title">Sewing Their Way To Success</h3>
            <div class="work-descr">Livelihood</div>
          </div>
        </a></li>
      <li class="work-item economic"><a href="{% url 'carra' %}">
          <div class="work-image"><img
            src="{% static 'images/assets/kabuhayan/Portasol (Drying trays)/104948681_596171961023419_7521249719040124674_n.png' %}"
              alt=" Item" />
          </div>
          <div class="work-caption font-alt">
            <h3 class="work-title">Portasol</h3>
            <div class="work-descr">Economic Development</div>
          </div>
        </a></li>
      <li class="work-item livelihood"><a href="{% url 'women' %}">
          <div class="work-image"><img
            src="{% static 'images/assets/kabuhayan/Livelihood Projects/Empowering Women through Science and Technology/Fish Processing-0.PNG' %}"
              alt=" Item" />
          </div>
          <div class="work-caption font-alt">
            <h3 class="work-title">Empowering Women through Science and Technology</h3>
            <div class="work-descr">Livelihood Projects</div>
          </div>
        </a></li>
      <li class="work-item economic"><a href="{% url 'carra' %}">
          <div class="work-image">
            <img
            src="{% static 'images/assets/kabuhayan/SMART Hybrid Rice Production Project/Carrageenan.png' %}"
              alt=" Item" />
          </div>
          <div class="work-caption font-alt">
            <h3 class="work-title">Carrageenan</h3>
            <div class="work-descr">Economic Development</div>
          </div>
        </a>
      </li>
      <li class="work-item economic"><a href="{% url 'mushroom' %}">
          <div class="work-image"><img
            src="{% static 'images/assets/kabuhayan/Livelihood Projects/Mush-room for Improvement/BPSU.Mushroom5.png' %}"
              alt=" Item" />
          </div>
          <div class="work-caption font-alt">
            <h3 class="work-title">Mush-room for Improvement</h3>
            <div class="work-descr">Livelihood</div>
          </div>
        </a>
      </li>
      <li class="work-item economic"><a href="{% url 'pump' %}">
          <div class="work-image"><img 
            src="{% static 'images/assets/kabuhayan/Solar Powered Pump/SolarPoweredPumpArayat.png' %}"
              alt=" Item" />
          </div>
          <div class="work-caption font-alt">
            <h3 class="work-title">Solar Powered Pump</h3>
            <div class="work-descr">Economic Development</div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>