{% load static %}

<section class="module">
  <div class="container">
    <div class="row">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="module-title font-alt">Related Projects</h4>
        </div>
      </div>
    </div>
    <ul class="works-grid works-grid-gut works-grid-4 works-hover-w" id="works-grid">
      <li class="work-item economic"><a href="{% url 'pump' %}">
          <div class="work-image"><img
              src="{% static 'images/assets/kabuhayan/Solar_Powered_Pump/81309393_467813730782018_3243659245828177920_n (2).png' %}"
              alt="Item"/>
          </div>
          <div class="work-caption font-alt">
            <h3 class="work-title">Improvement of Irrigation Practice through Solar Powered Pump</h3>
          </div>
        </a></li>
      <li class="work-item livelihood"><a href="{% url 'women' %}">
          <div class="work-image"><img
              src="{% static 'images/assets/kabuhayan/Livelihood Projects/Women in Action, Improving the Cashew industry in Conversion/Cashew Processing-3.png' %}"
              alt="Item" />
          </div>
          <div class="work-caption font-alt">
            <h3 class="work-title">Women in Action, Improving the Cashew industry in Conversion</h3>
            <div class="work-descr">Livelihood</div>
          </div>
        </a></li>
      <li class="work-item education"><a href="{% url 'floridablanca' %}">
          <div class="work-image">
            <img src="{% static 'images/assets/kabuhayan/Livelihood_Projects/Enabling Livelihood for PWD group in Floridablanca, Pampanga/bambute - Florida.png' %}" alt="Item" />
          </div>
          <div class="work-caption font-alt">
            <h3 class="work-title">Enabling Livelihood for PWD Group in Floridablanca, Pampanga</h3>
                <div class="work-descr">Livelihood Projects</div>
          </div>
        </a></li>
      <li class="work-item economic"><a href="{% url 'transplant' %}" >
          <div class="work-image"><img
            src="{% static 'images/assets/kabuhayan/SMART Hybrid Rice Production Project/Transplanting/transplanter.png' %}"
              alt="Item" />
          </div>
          <div class="work-caption font-alt">
            <h3 class="work-title">Transplanting</h3>
            <div class="work-descr">Economic Development</div>
          </div>
        </a></li>
      <li class="work-item economic"><a href="{% url 'double' %}">
          <div class="work-image"><img
            src="{% static 'images/assets/kabuhayan/SMART Hybrid Rice Production Project/Double Mulching Technique/03.png' %}"
              alt="Item" />
          </div>
          <div class="work-caption font-alt">
            <h3 class="work-title">Double Mulching Technique</h3>
            <div class="work-descr">Economic Development</div>
          </div>
        </a></li>
      <li class="work-item economic"><a href="{% url 'hydro' %}">
          <div class="work-image"><img
            src="{% static 'images/assets/kabuhayan/High Value Crops Production through Hydroponics Technology/GNHS_Hydroponics1.png' %}"
              alt=" Item" />
          </div>
          <div class="work-caption font-alt">
            <h3 class="work-title">High Value Crops Production through Hydroponics Technology</h3>
            <div class="work-descr">Economic Development</div>
          </div>
        </a></li>
      <li class="work-item livelihood"><a href="{% url 'zambelena' %}">
          <div class="work-image"><img
            src="{% static 'images/assets/kabuhayan/Livelihood Projects/Samahang Zambaleña sews their way to success/DSC_0746.png' %}"
              alt=" Item" />
          </div>
          <div class="work-caption font-alt">
            <h3 class="work-title">Sewing Their Way To Success</h3>
            <div class="work-descr">Livelihood</div>
          </div>
        </a></li>
      <li class="work-item economic"><a href="{% url 'snt' %}">
          <div class="work-image"><img
            src="{% static 'images/assets/kabuhayan/Livelihood_Projects/S&T driven livelihood towards empowerment of Abelling Tribe/20200204_144037.png' %}"
              alt=" Item" />
          </div>
          <div class="work-caption font-alt">
            <h3 class="work-title">S&T driven livelihood towards empowerment of Abelling
              Tribe</h3>
            <div class="work-descr">Livelihood Projects</div>
          </div>
        </a></li>
      <li class="work-item livelihood"><a href="{% url 'women' %}">
          <div class="work-image"><img
            src="{% static 'images/assets/kabuhayan/Livelihood Projects/Empowering Women through Science and Technology/Fish Processing-0.PNG' %}"
              alt=" Item" />
          </div>
          <div class="work-caption font-alt">
            <h3 class="work-title">Empowering Women through Science and Technology</h3>
            <div class="work-descr">Livelihood Projects</div>
          </div>
        </a></li>
      <li class="work-item economic"><a href="{% url 'carra' %}">
          <div class="work-image">
            <img
            src="{% static 'images/assets/kabuhayan/SMART Hybrid Rice Production Project/Carrageenan.png' %}"
              alt=" Item" />
          </div>
          <div class="work-caption font-alt">
            <h3 class="work-title">Carrageenan</h3>
            <div class="work-descr">Economic Development</div>
          </div>
        </a>
      </li>
      <li class="work-item economic"><a href="{% url 'mushroom' %}">
          <div class="work-image"><img
            src="{% static 'images/assets/kabuhayan/Livelihood Projects/Mush-room for Improvement/BPSU.Mushroom5.png' %}"
              alt=" Item" />
          </div>
          <div class="work-caption font-alt">
            <h3 class="work-title">Mush-room for Improvement</h3>
            <div class="work-descr">Livelihood</div>
          </div>
        </a>
      </li>
      <li class="work-item economic"><a href="{% url 'sewing' %}">
        <div class="work-image"><img
          src="{% static 'images/assets/kabuhayan/Livelihood_Projects/Rekindling the Sewing and Embroidery Industry of Bocaue/image1.png' %}"
            alt=" Item" />
        </div>
        <div class="work-caption font-alt">
          <h3 class="work-title">REKINDLING THE SEWING AND EMBROIDERY INDUSTRY OF BOCAUE</h3>
          <div class="work-descr">Livelihood</div>
        </div>
      </a>
    </li>
    </ul>
  </div>
</section>