{% load static %}

<section class="module">
  <div class="container">
    <div class="row">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="module-title font-alt">Livelihood Projects</h4>
        </div>
      </div>
    </div>
    <ul class="works-grid works-grid-gut works-grid-4 works-hover-w" id="works-grid">
      <li class="work-item livelihood"><a href="{% url 'cashew' %}">
          <div class="work-image"><img
              src="{% static 'images/assets/kabuhayan/Livelihood Projects/Women in Action, Improving the Cashew industry in Conversion/Cashew Processing-3.png' %}"
              alt="Item" />
          </div>
          <div class="work-caption font-alt">
            <h3 class="work-title">Women in Action: Improving Cashew Processing in Conversion, Pantabangan</h3>
            <div class="work-descr">Livelihood</div>
          </div>
        </a></li>
      <li class="work-item education"><a href="{% url 'floridablanca' %}">
          <div class="work-image">
            <img
              src="{% static 'images/assets/kabuhayan/Livelihood_Projects/Enabling Livelihood for PWD group in Floridablanca, Pampanga/bambute - Florida.png' %}"
              alt="Item" />
          </div>
          <div class="work-caption font-alt">
            <h3 class="work-title">Enabling Livelihood for PWD Group in Floridablanca, Pampanga</h3>
            <div class="work-descr">Livelihood Projects</div>
          </div>
        </a></li>
      <li class="work-item livelihood"><a href="{% url 'women'%}">
          <div class="work-image"><img
              src="{% static 'images/assets/kabuhayan/Livelihood_Projects/Empowering Women through Science and Technology/Fish Processing-0.PNG' %}"
              alt="Portfolio Item" />
          </div>
          <div class="work-caption font-alt">
            <h3 class="work-title">Empowering Women through Science and Technology</h3>
            <div class="work-descr">Livelihood Projects</div>
          </div>
        </a></li>

      </a></li>
      <li class="work-item livelihood"><a href="{% url 'zambelena' %}">
          <div class="work-image"><img
              src="{% static 'images/assets/kabuhayan/Livelihood Projects/Samahang Zambaleña sews their way to success/DSC_0746.png' %}"
              alt=" Item" />
          </div>
          <div class="work-caption font-alt">
            <h3 class="work-title">Sewing Their Way To Success</h3>
            <div class="work-descr">Livelihood</div>
          </div>
        </a></li>
      <li class="work-item economic"><a href="{% url 'snt' %}">
          <div class="work-image"><img
              src="{% static 'images/assets/kabuhayan/Livelihood_Projects/S&T driven livelihood towards empowerment of Abelling Tribe/20200204_144037.png' %}"
              alt=" Item" />
          </div>
          <div class="work-caption font-alt">
            <h3 class="work-title">S&T driven livelihood towards empowerment of Abelling
              Tribe</h3>
            <div class="work-descr">Livelihood Projects</div>
          </div>
        </a></li>


      <li class="work-item economic"><a href="{% url 'mushroom' %}">
          <div class="work-image"><img
              src="{% static 'images/assets/kabuhayan/Livelihood Projects/Mush-room for Improvement/BPSU.Mushroom5.png' %}"
              alt=" Item" />
          </div>
          <div class="work-caption font-alt">
            <h3 class="work-title">Mush-room for Improvement</h3>
            <div class="work-descr">Livelihood</div>
          </div>
        </a>
      </li>
      <li class="work-item economic"><a href="{% url 'sewing' %}">
          <div class="work-image"><img
              src="{% static 'images/assets/kabuhayan/Livelihood_Projects/Rekindling the Sewing and Embroidery Industry of Bocaue/image1.png' %}"
              alt=" Item" />
          </div>
          <div class="work-caption font-alt">
            <h3 class="work-title">REKINDLING THE SEWING AND EMBROIDERY INDUSTRY OF BOCAUE</h3>
            <div class="work-descr">Livelihood</div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>