{% load static %}

<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- Document Title -->
   <title>DOST R3 | Virtual Exhibit</title>

   {% include 'includes/exhibit/favi.html' %}
   {% include 'includes/exhibit/css.html' %}

  </head>
  <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
      <div class="page-loader">
        <div class="loader">Loading...</div>
      </div>
     
      {% include 'main/components/navs/NavExhibit.html' %}


      <div class="main">
        <section class="module bg-dark-60 blog-page-header">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Form Lab Form 2</h2>
                <div class="module-subtitle font-serif">
                    is the most advanced professional stereolithography (SLA) desktop 3D printer on the market. It is the successor to the award-winning Form 1+, and it is way more than just an incremental update. </div>
              </div>
            </div>
          </div>
        </section>
        <section class="module">
          <div class="container">
            <div class="row">
              <div class="col-sm-8">
                <div class="post">
                  <div class="post-thumbnail"><a href="{% url 'formLab' %}"><img src="{% static 'images/assets/kinabukasan/Equipment for AMRel/form-5c-2069669_37182756.jpg' %}" alt="Blog-post Thumbnail"/></a></div>
                  <div class="post-header font-alt">
                    <h2 class="post-title"><a href="{% url 'formLab' %}">Form Lab Form 2</a></h2>
                    <div class="post-meta"><a href="{% url 'bataanProjects' %}">AMReL</a>
                    </div>
                  </div>
                </div>
                
                <div class="post">
                  <div class="post-quote">
                    <blockquote class="font-serif">
                      <p>&quot; We are launching two centers for 3D printing research and development and we, in DOST-PCIEERD, are privileged to be part of this game-changing initiative. The additive manufacturing research industry will open the doors to previously unimaginable possibilities, and every single 3D-printed product will unfold more innovations. Soon, how we create things will be different from what we’re used to. &quot;</p>
                      <p class="font-inc font-uppercase">-Dr. Enrico Paringit | DOST-PCIEERD Executive Director</p>
                    </blockquote>
                  </div>
                </div>
              </div>

              {% include 'main/pages/exhibit/pages/kinabukasan/equipments/widgets/eqWidgets.html' %}

            </div>
          </div>
        </section>
       
        
        {% include 'main/components/footers/modules/FooterModule_1.html' %}
        {% include 'main/components/footers/Footer.html' %}
        
      </div>

    </main>
    
    {% include 'includes/exhibit/js.html' %}

  </body>
</html>