{% load static %}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
<link rel="stylesheet" href="{% static '_dashboard/vendor/nucleo/css/nucleo.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '_dashboard/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '_dashboard/css/argon.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '_dashboard/vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css'  %}">
<link rel="stylesheet" href="{% static '_dashboard/vendor/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static '_dashboard/vendor/datatables.net-select-bs4/css/select.bootstrap4.min.css' %}">