{% load static %}

<script src="{% static '_dashboard/vendor/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static '_dashboard/vendor/bootstrap/dist/js/bootstrap.bundle.min.js'  %}"></script>
<script src="{% static '_dashboard/vendor/js-cookie/js.cookie.js' %}"></script>
<script src="{% static '_dashboard/vendor/jquery.scrollbar/jquery.scrollbar.min.js' %}"></script>
<script src="{% static '_dashboard/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js' %}"></script>

<script src="{% static '_dashboard/vendor/chart.js/dist/Chart.min.js'  %}"></script>
<script src="{% static '_dashboard/vendor/chart.js/dist/Chart.extension.js' %}"></script>

<script src="{% static '_dashboard/vendor/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static '_dashboard/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static '_dashboard/vendor/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static '_dashboard/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js '%}"></script>
<script src="{% static '_dashboard/vendor/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static '_dashboard/vendor/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% static '_dashboard/vendor/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static '_dashboard/vendor/datatables.net-select/js/dataTables.select.min.js' %}"></script>

<script src="{% static '_dashboard/js/argon.js ' %}"></script>

<script src="{% static '_dashboard/js/demo.min.js' %}"></script>
<script src="{% static '_dashboard/js/exportToExcel.js' %}"></script>
