<div class="col-sm-4 col-md-3 col-md-offset-1 sidebar">
    <div class="widget">
      <h5 class="widget-title font-alt">Equipments</h5>
      <ul class="icon-list">
        <li><a href="{% url 'filamentWinder' %}">Filament Winder</a></li>
        <li><a href="{% url 'microwaveFurnace' %}">Microwave Furnace</a></li>
        <li><a href="{% url 'creatorPro' %}">Creator Pro Flash Forge</a></li>
        <li><a href="{% url 'formLab' %}">Form Lab Form 2</a></li>
        <li><a href="{% url 'microscope' %}">Microscope</a></li>
        <li><a href="{% url 'shimadzuAgs' %}">Shimadzu Ags-x Series</a></li>
        <li><a href="{% url 'impactTester' %}">Injection Modeling Machine</a></li>
        <li><a href="{% url 'injectionModeling' %}">Impact Tester</a></li>
        <li><a href="{% url 'uvCuring' %}">UV Curing Apparatus</a></li>
        <li><a href="{% url 'shining3d' %}">Shining 3D Einscan-SE</a></li>
        <li><a href="{% url 'filamentExtruder' %}">Filament Extruder</a></li>
        <li><a href="{% url 'shimadzuRockwell' %}">Shimadzu Rockwell Type Hardness Tester</a></li>
        <li><a href="{% url 'zortrax' %}">Zortrax M200</a></li>
        <li><a href="{% url 'viscometer' %}">Viscometer</a></li>
        <li><a href="{% url 'ultimaker' %}">Ultimaker 3 Extended</a></li>
        <li><a href="{% url 'sonicBath' %}">Sonic Bath</a></li>
      </ul>
    </div>
    <div class="widget">
      <h5 class="widget-title font-alt">Text</h5>AMREL is the first additive manufacturing research laboratory in the Philippines and since July 2, 2018, AMREL has been utilized to conduct research for undergraduate and graduate theses. Prof. John Ryan Dizon, project leader of AMREL, proudly shared these studies on the applications of 3D printing for defense applications and health care. He was also able to do technology demonstration with junior high school students of the Bataan National High School who then successfully created a 3D printed drone.
    </div>
</div>`