{% load static %}

<div class="module-small bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="widget">
                    <h5 class="widget-title font-alt"><span class="title-glow-1">Virtual Exhibit</span></h5>
                    <p>“Agham at Teknolohiya: Sandigan ng Kalusugan, Kabuhayan, Kaayusan at Kinabukasan”</p>
                    <p><i class="fas fa-phone-square-alt"></i>&nbsp;Landline: (045) 455-0800</p>
                    <i class="far fa-envelope"></i>&nbsp;Email:<a href="mailto:records@ro3.dost.gov.ph">
                        records@ro3.dost.gov.ph</a>
                    <p><i class="fab fa-facebook-square"></i>&nbsp;Facebook Page:<a
                            href="https://www.facebook.com/DOSTCentralLuzon" target="_blank"> DOST-Central
                            Luzon</a></p>
                    <p><i class="far fa-question-circle"></i>&nbsp;Give us Feedbacks:<a href="{% url 'survey' %}" target="_blank">
                            Click here...</a></p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="widget">
                    <h5 class="widget-title font-alt">DOST Region III</h5>
                    <ul>
                        <li>Website: <a href="https://region3.dost.gov.ph/" target="_blank">Region 3 DOST GOV PH</a>
                        </li>
                        <li>Contact: <a href="https://region3.dost.gov.ph/index.php/contact-us" target="_blank">DOST R3
                                Contact List</a></li>
                        <li>Job Opportunities: <a href="https://region3.dost.gov.ph/index.php/job-vacancies"
                                target="_blank">DOST R3 Job Vacancies</a></li>
                        <li>Projects: <a
                                href="https://region3.dost.gov.ph/index.php/investigatory-projects"
                                target="_blank" />DOST R3 Investigatory Projects</a></li>
                        <li>About Exams: <a href="https://region3.dost.gov.ph/index.php/exam-results"
                                target="_blank">DOST R3 Exam Results</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="widget">
                    <h5 class="widget-title font-alt"><span class="title-glow-2">Exhibits</span>
                        <span class="badge badge-secondary">New</span>
                    </h5>
                    <ul class="icon-list">
                        <li><i class="fas fa-heartbeat"></i>&nbsp; Kalusugan</li>
                        <li><i class="fas fa-store"></i>&nbsp; Kabuhayan</li>
                        <li><i class="fas fa-sort-amount-up"></i>&nbsp; Kaayusan</li>
                        <li><i class="fas fa-road"></i>&nbsp; Kinabukasan</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="widget">
                    <h5 class="widget-title font-alt">News
                        <span class="badge badge-danger" style="background: red">HOT</span>
                    </h5>
                    <ul class="widget">
                        <p>“Massive flooding a 'summation of our wrongs to the environment' – Cagayan governor(s)”</p>
                        <p><a href="https://twitter.com/hashtag/PampangaNeedsHelpNOW?src=hashtag_click" target="_blank"
                                class="title-glow-2">#PampangaNeedsHelpNOW</a></p>
                        <ul>
                            <li><i class="fab fa-twitter"></i>&nbsp;Twitter: <a
                                    href="https://www.rappler.com/nation/massive-flooding-environmental-degradation-cagayan-governor"
                                    target="_blank">Click Here...</a>
                            </li>
                            <li><i class="fab fa-instagram"></i>&nbsp;Instagram: <a
                                href="https://www.instagram.com/explore/tags/pampanganeedshelpnow/"
                                target="_blank">Click Here...</a>
                        </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>