{% load static %}

<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        <a class="navbar-brand a-hidden" href="{% url 'exhibit'%}">
          <img src="{% static 'images/logo/DOST.png' %}" width="20">&nbsp;NSTW<span style="color: #00ADEC">DOST III</span></a>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="custom-collapse" >
        <ul class="nav navbar-nav navbar-right" style="margin-right: 210px">
          <li class="dropdown"><a  href="{% url 'exhibit' %}" >Home</a></li>
          <li class="dropdown"><a class="dropdown-toggle" href="{% url 'exhibit'%}" data-toggle="dropdown">Exhibits</a>
            <ul class="dropdown-menu">
              <li class="dropdown"><a href="{% url 'kinabukasan'%}"><i class="fas fa-road"></i>&nbsp;Kinabukasan</a>            
              </li>
              <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer"><i class="fas fa-sort-amount-up-alt"></i>&nbsp;Kaayusan</a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'duck' %}"><i class="fas fa-truck-monster"></i>&nbsp;D.U.C.K</a></li>
                  <li><a href="{% url 'clock' %}"><i class="far fa-clock"></i>&nbsp;Juan Time Clock</a></li>
                  <li><a href="{% url 'swan' %}"><i class="fas fa-truck-monster"></i>&nbsp;S W A N</a></li>
                </ul></li>
              <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer"><i class="fas fa-heartbeat"></i>&nbsp;Kalusugan</a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'feeding' %}"><i class="fas fa-utensils"></i>&nbsp;COMPLEMENTARY FOOD <br/>FEEDING PROGRAM</a></li>
                  <li><a href="{% url 'rxbox' %}"><i class="fas fa-prescription"></i>&nbsp;RXBOX</a></li>
                  <li><a href="{% url 'clhrdc' %}"><i class="fas fa-utensils"></i>&nbsp;CLHRDC</a></li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-toggle"  data-toggle="dropdown" style="cursor: pointer"><i class="fas fa-store-alt"></i>&nbsp;Kabuhayan</a>
                <ul class="dropdown-menu">
                  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'setup' %}" style="cursor: pointer"><i class="fas fa-tools"></i>&nbsp;SETUP 2.0</a>
                    <ul class="dropdown-menu">
                      <li class="dropdown"><a href="{% url 'products'%}"><i class="fab fa-product-hunt"></i>&nbsp;SETUP 2.0 PRODUCTS</a></li>
                      <li class="dropdown"><a href="{% url 'stories' %}"><i class="fas fa-thumbs-up"></i>&nbsp;Success Stories</a></li>
                      <li class="dropdown"><a href="https://onestore.ph/" target="_blank"><i class="fas fa-store-alt"></i>&nbsp;ICT SOLUTION<br>  DOST  ONESTORE</a></li>
                      <li class="dropdown"><a href="https://oneexpert.gov.ph/" target="_blank"><i class="fas fa-store-alt"></i>&nbsp;ICT SOLUTION <br>  DOST ONEEXPERT</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'ecest' %}" style="cursor: pointer"><i class="fas fa-cogs"></i>&nbsp;E C E S T</a>
                    <ul class="dropdown-menu">
                      <li class="dropdown"><a href="{% url 'smart' %}"><i class="fab fa-pagelines"></i>&nbsp;SMART Hybrid <br> Rice Production</a>
                      </li>
                      <li class="dropdown"><a href="{% url 'live' %}"><i class="fas fa-project-diagram"></i>&nbsp;Livelihood <br>Projects</a>
                      </li>
                      <li class="dropdown"><a href="{% url 'tech' %}"><i class="fas fa-project-diagram"></i>&nbsp;Other Major <br>Technologies</a>
                      </li>
                      <li class="dropdown"><a href="{% url 'story' %}"><i class="fas fa-star"></i>&nbsp;2020 Regional <br> Best CEST <br> Community</a></li>
                    </ul>
                  </li>
                  <li><a href="{% url 'sntservice' %}"><i class="fab fa-buffer"></i>&nbsp;S&T Services</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="dropdown"><a class="dropdown-toggle" href="{% url 'exhibit'%}" data-toggle="dropdown">Programs</a>
            <ul class="dropdown-menu">
              <li class="dropdown"><a href="https://region3.dost.gov.ph/index.php/transparency/2-uncategorised/208-nstw-2020-dost-iii-opening-message#introduction" target="_blank"><i class="fas fa-tasks"></i>&nbsp;DOST R3 Programs</a></li>
              <li class="dropdown"><a href="{% url 'guide' %}"><i class="fab fa-leanpub"></i>&nbsp;Guide Me</a></li>
              <li class="dropdown"><a href="{% url 'survey' %}" target="_blank"><i class="fas fa-comments"></i>&nbsp;Any Feedbacks?</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="{% url 'home' %}" ><span class="title-glow-2">Exit</span></a></li>
        </ul>
      </div>
    </div>
  </nav>