<ul class="dropdown-menu">
    <li><a href="{% url 'otherProjects' %}"><i class="fas fa-stream"></i>&nbsp;Other Projects</a></li>
    <li><a href="{% url 'amrel' %}"><i class="fas fa-flask"></i>&nbsp;ADDITIVE MANUFACTURING <br> RESEARCH LABORATORY</a></li>
    <li><a href="{% url 'automated' %}"><i class="fas fa-train"></i>&nbsp;AUTOMATED <br> GUIDE-WAY TRANSIT</a></li>
    <li><a href="{% url 'adoption' %}"><i class="fas fa-university"></i>&nbsp;DOST-SEI DESIGNED <br> 21ST CENTURY CLASSROOM</a></li>
    <li><a href="{% url 'innovative' %}"><i class="fas fa-vial"></i>&nbsp;INNOVATIVE TISSUE <br> CULTURE LABORATORY</a></li>
    <li><a href="{% url 'food' %}"><i class="fas fa-utensils"></i>&nbsp;FOOD INNOVATION <br> CENTER</a></li>
    <li><a href="{% url 'agri' %}"><i class="fas fa-tractor"></i>&nbsp;IMPROVING AGRICULTURAL</a></li>
    <li><a href="{% url 'tbi' %}"><i class="fas fa-briefcase"></i>&nbsp;TECHNOLOGY BUSINESS <br> INCUBATOR</a></li>
    <li><a href="{% url 'tamarind' %}"><i class="fas fa-seedling"></i>&nbsp;PSAU TAMARIND <br> CENTER</a></li>
    <li><a href="{% url 'sweet' %}"><i class="fas fa-seedling"></i>&nbsp;SWEET POTATO <br> R&D CENTER</a></li>
    <li><a href="{% url 'mist' %}"><i class="fas fa-atom"></i>&nbsp;PROJECT MIST</a></li>
    <li><a href="{% url 'safety' %}"><i class="fas fa-user-shield"></i>&nbsp;FOOD SAFETY <br> CONTROL SYSTEM</a></li>
    <li><a href="{% url 'development' %}"><i class="fas fa-pencil-ruler"></i>&nbsp;DESIGN AND DEVELOPMENT <br> OF TYPHOON RESILIENT<br></a></li>
    <li><a href="{% url 'support' %}"><i class="fas fa-drum-steelpan"></i>&nbsp;NEUST METAL <br> INNOVATION CENTER<br></a></li>
    <li><a href="{% url 'starbooks' %}"><i class="fas fa-book"></i>&nbsp;STARBOOKS</a></li>
    <li><a href="{% url 'far' %}"><i class="fas fa-dungeon"></i>&nbsp;FAR-UVC GATE<br></a></li>
    <li><a href="{% url 'teach' %}"><i class="fas fa-chalkboard-teacher"></i>&nbsp;INTERACTIVE MULTIMEDIA <br>TEACHING AIDS</a></li>
</ul>