{% load static %}

<!DOCTYPE html>

<html lang="en-US" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Document Title -->
        <title>DOST R3 | Virtual Exhibit</title>

        {% include 'includes/exhibit/favi.html' %}
        {% include 'includes/exhibit/css.html' %}
        

    </head>
    <body>

    <main>
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>

        {% include 'main/components/navs/NavExhibit.html' %}

        <div class="main">
            <section class="module bg-dark-60 blog-page-header" data-background="https://media.giphy.com/media/26DNeMNwIpXDoXZoQ/giphy.gif">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <h2 class="module-title font-alt">Adoption of DOST-SEI Designed 21st Century Classroom for Balanga City National Science High School</h2>
                      <div class="module-subtitle font-serif">Kinabukasan</div>
                    </div>
                  </div>
                </div>
            </section>
            <section class="module" id="alt-features">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <div class="module-subtitle font-serif">City Mayor Francis Anthony S. Garcia received P2-million worth cheque from DOST-Bataan Director 
                        Ms. Catalina V. De Leon-Cruz for an approved project that will enable the Balanga City National Science 
                        High School to be the first school in Bataan province to adopt and establish the 21st Century Classroom designed by
                        DOST-Science Education Institute. The 21st Century Classroom promotes collaborative teaching and learning to support 
                        student-centered learning in science, technology, engineering, and mathematics (STEM).</div>
                    </div>
                  </div>
                  <div class="row">
                    <section class="module pb-0">
                        <div class="container">
                          <div class="row">
                            <div class="col-sm-12">
                              <ul class="filter font-alt" id="filters">
                                <li><a class="current wow fadeInUp" href="#" data-filter="*">Photos</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <ul class="works-grid works-grid-masonry works-hover-w" id="works-grid">
                          <li class="work-item illustration webdesign"><a>
                              <div class="work-image"><img src="{% static 'images/assets/kinabukasan/Balanga City National High School/image1.png' %}" alt="Portfolio Item"/></div>
                              <div class="work-caption font-alt">
                                <h3 class="work-title">Starbooks</h3>
                              </div></a>
                          </li>
                          <li class="work-item illustration webdesign"><a>
                            <div class="work-image"><img src="{% static 'images/assets/kinabukasan/Balanga City National High School/image2.png' %}" alt="Portfolio Item"/></div>
                            <div class="work-caption font-alt">
                              <h3 class="work-title">Laptops, wireless printer and wifi</h3>
                            </div></a>
                          </li>
                          <li class="work-item illustration webdesign"><a>
                            <div class="work-image"><img src="{% static 'images/assets/kinabukasan/Balanga City National High School/image3.png' %}" alt="Portfolio Item"/></div>
                            <div class="work-caption font-alt">
                              <h3 class="work-title">3d printer</h3>
                            </div></a>
                          </li>
                          <li class="work-item illustration webdesign"><a>
                            <div class="work-image"><img src="{% static 'images/assets/kinabukasan/Balanga City National High School/image4.png' %}" alt="Portfolio Item"/></div>
                            <div class="work-caption font-alt">
                              <h3 class="work-title">virtual and augmented reality</h3>
                            </div></a>
                          </li>
                          <li class="work-item illustration webdesign"><a>
                            <div class="work-image"><img src="{% static 'images/assets/kinabukasan/Balanga City National High School/image5.png' %}" alt="Portfolio Item"/></div>
                            <div class="work-caption font-alt">
                              <h3 class="work-title">bolbol inhs</h3>
                            </div></a>
                          </li>
                          <li class="work-item illustration webdesign"><a>
                            <div class="work-image"><img src="{% static 'images/assets/kinabukasan/Balanga City National High School/image6.png' %}" alt="Portfolio Item"/></div>
                            <div class="work-caption font-alt">
                              <h3 class="work-title">pinagtongulan inhs</h3>
                            </div></a>
                          </li>
                          <li class="work-item illustration webdesign"><a>
                            <div class="work-image"><img src="{% static 'images/assets/kinabukasan/Balanga City National High School/image7.png' %}" alt="Portfolio Item"/></div>
                            <div class="work-caption font-alt">
                              <h3 class="work-title">mobile laptop caddy</h3>
                            </div></a>
                          </li>
                          <li class="work-item illustration webdesign"><a>
                            <div class="work-image"><img src="{% static 'images/assets/kinabukasan/Balanga City National High School/image8.png' %}" alt="Portfolio Item"/></div>
                            <div class="work-caption font-alt">
                              <h3 class="work-title">teacher's lectern</h3>
                            </div></a>
                          </li>
                          <li class="work-item illustration webdesign"><a>
                            <div class="work-image"><img src="{% static 'images/assets/kinabukasan/Balanga City National High School/image9.png' %}" alt="Portfolio Item"/></div>
                            <div class="work-caption font-alt">
                              <h3 class="work-title">frontleaners</h3>
                            </div></a>
                          </li>
                          <li class="work-item illustration webdesign"><a>
                            <div class="work-image"><img src="{% static 'images/assets/kinabukasan/Balanga City National High School/image10.png' %}" alt="Portfolio Item"/></div>
                            <div class="work-caption font-alt">
                              <h3 class="work-title">lipa city science inhs</h3>
                            </div></a>
                          </li>
                          <li class="work-item illustration webdesign"><a>
                            <div class="work-image"><img src="{% static 'images/assets/kinabukasan/Balanga City National High School/image11.png' %}" alt="Portfolio Item"/></div>
                            <div class="work-caption font-alt">
                              <h3 class="work-title">lipa city science inhs</h3>
                            </div></a>
                          </li>
                          <li class="work-item illustration webdesign"><a>
                            <div class="work-image"><img src="{% static 'images/assets/kinabukasan/Balanga City National High School/image13.png' %}" alt="Portfolio Item"/></div>
                            <div class="work-caption font-alt">
                              <h3 class="work-title">visualizer</h3>
                            </div></a>
                          </li>
                          <li class="work-item illustration webdesign"><a>
                            <div class="work-image"><img src="{% static 'images/assets/kinabukasan/Balanga City National High School/image14.png' %}" alt="Portfolio Item"/></div>
                            <div class="work-caption font-alt">
                              <h3 class="work-title">learnings english application for pinoys</h3>
                            </div></a>
                          </li>
                          <li class="work-item illustration webdesign"><a>
                            <div class="work-image"><img src="{% static 'images/assets/kinabukasan/Balanga City National High School/image15.png' %}" alt="Portfolio Item"/></div>
                            <div class="work-caption font-alt">
                              <h3 class="work-title">interactive projector and smartboard in 1</h3>
                            </div></a>
                          </li>
                          <li class="work-item illustration webdesign"><a>
                            <div class="work-image"><img src="{% static 'images/assets/kinabukasan/Balanga City National High School/image16.png' %}" alt="Portfolio Item"/></div>
                            <div class="work-caption font-alt">
                              <h3 class="work-title">robotics</h3>
                            </div></a>
                          </li>
                          <li class="work-item illustration webdesign"><a>
                            <div class="work-image"><img src="{% static 'images/assets/kinabukasan/Balanga City National High School/image17.png' %}" alt="Portfolio Item"/></div>
                            <div class="work-caption font-alt">
                              <h3 class="work-title">strategic intervention material for teaching with AR</h3>
                            </div></a>
                          </li>
                          <li class="work-item illustration webdesign"><a>
                            <div class="work-image"><img src="{% static 'images/assets/kinabukasan/Balanga City National High School/image18.png' %}" alt="Portfolio Item"/></div>
                            <div class="work-caption font-alt">
                              <h3 class="work-title">re-configurable tables and chairs</h3>
                            </div></a>
                          </li>
                          <li class="work-item illustration webdesign"><a>
                            <div class="work-image"><img src="{% static 'images/assets/kinabukasan/Balanga City National High School/image19.png' %}" alt="Portfolio Item"/></div>
                            <div class="work-caption font-alt">
                              <h3 class="work-title">mobile maker space</h3>
                            </div></a>
                          </li>
                          <li class="work-item illustration webdesign"><a>
                            <div class="work-image"><img src="{% static 'images/assets/kinabukasan/Balanga City National High School/image21.png' %}" alt="Portfolio Item"/></div>
                            <div class="work-caption font-alt">
                              <h3 class="work-title">dost courseware</h3>
                            </div></a> 
                        </ul>
                      </section>
                  </div>
                </div>
              </section>
    
              <section class="module bg-dark-60 pt-0 pb-0 parallax-bg testimonial" data-background="https://media.giphy.com/media/t4DcI9P3dNVoA/giphy.gif">
                <div class="testimonials-slider pt-140 pb-140">
                </div>
              </section>
              

            {% include 'main/components/footers/modules/FooterModule_1.html' %}
            {% include 'main/components/footers/Footer.html' %}

        </div>
    </main>


    {% include 'includes/exhibit/js.html' %}    
    </body>
</html>