{% load static %}

<!DOCTYPE html>

<html lang="en-US" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Document Title -->
        <title>DOST R3 | Virtual Exhibit</title>

        {% include 'includes/exhibit/favi.html' %}
        {% include 'includes/exhibit/css.html' %}
        

    </head>
    <body>

    <main>
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>

        {% include 'main/components/navs/NavExhibit.html' %}

        <div class="main">
            <section class="module bg-dark-60 blog-page-header" data-background="{% static 'images/gifs/train1.gif' %}">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <h2 class="module-title font-alt">Automated Guide-Way Transit</h2>
                      <div class="module-subtitle font-serif">Kinabukasan</div>
                    </div>
                  </div>
                </div>
            </section>
            <section class="module" id="alt-features">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <div class="module-subtitle font-serif">The Automated Guide-way Transit from DOST is expected to be utilized as instructional medium for the engineering programs of the College of Engineering and Architecture and eventually in the development of an Academic Program in Railway Engineering to provide the country's human resource requirement in the transportation sector.</div>
                    </div>
                  </div>
                  <div class="row">
                    <section class="module pb-0">
                      <div class="container">
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="row post-masonry post-columns">
                              <div class="col-md-12 col-lg-12">
                                <div class="post">
                                  <div class="post-thumbnail"><img src="{% static 'images/assets/kinabukasan/train/img-9.png' %}" alt="VISION OF BPSU Thumbnail"/></div>
                                  <div class="post-header font-alt">
                                    <h2 class="post-title">VISION OF BPSU IN THE ADOPTION OF AGT</h2>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <br>
                              <div class="col-md-6 col-lg-6">
                                <div class="post">
                                  <div class="post-thumbnail"><img src="{% static 'images/assets/kinabukasan/train/img-12.png' %}" alt=" Thumbnail"/></div>
                                  <div class="post-header font-alt">
                                    <h2 class="post-title">VISIT OF MIRDC-DOST IN BPSU TANGHAL LIKHA</h2>
                                    <div class="post-meta">&nbsp;| October 22, 2018 
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6 col-lg-6">
                                <div class="post">
                                  <div class="post-thumbnail"><img src="{% static 'images/assets/kinabukasan/train/img-2.png' %}" alt=" Thumbnail"/></div>
                                  <div class="post-header font-alt">
                                    <h2 class="post-title">VISIT TO MIRDC-DOST IN BICUTAN, TAGUIG CIT</h2>
                                    <div class="post-meta">&nbsp;| October 30, 2018
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6 col-lg-6">
                                <div class="post">
                                  <div class="post-thumbnail"><img src="{% static 'images/assets/kinabukasan/train/img-3.png' %}" alt="Thumbnail"/></div>
                                  <div class="post-header font-alt">
                                    <h2 class="post-title">DELIVERY</h2>
                                    <div class="post-meta">&nbsp;| February 23, 2019 
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6 col-lg-6">
                                <div class="post">
                                  <div class="post-thumbnail"><img src="{% static 'images/assets/kinabukasan/train/img-14.png' %}" alt="Thumbnail"/></div>
                                  <div class="post-header font-alt">
                                    <h2 class="post-title">MEETING WITH DOST UNDER-SECRETARY FOR RESEARCH,
                                      DR. ROWENA GUEVARA, MIRDC/DOTR/NEDA</h2>
                                    <div class="post-meta">&nbsp;| February 23, 2019 | PHIVOLCS
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6 col-lg-6">
                                <div class="post">
                                  <div class="post-thumbnail"><img src="{% static 'images/assets/kinabukasan/train/img-15.png' %}" alt="Thumbnail"/></div>
                                  <div class="post-header font-alt">
                                    <h2 class="post-title">DOTR STAKEHOLDERS MEETING ON PROPOSED PHILIPPINE RAILWAY INSTITUTE</h2>
                                    <div class="post-meta">&nbsp;| February 26, 2019
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6 col-lg-6">
                                <div class="post">
                                  <div class="post-thumbnail"><img src="{% static 'images/assets/kinabukasan/train/img-15.png' %}" alt="Thumbnail"/></div>
                                  <div class="post-header font-alt">
                                    <h2 class="post-title">VISIT OF ENGR. RODNEL TAMAYO,
                                      MS. LINA AFABLE AND ENGR. JOEY PANGILINAN</h2>
                                    <div class="post-meta">&nbsp;| March 8, 2019 
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6 col-lg-6">
                                <div class="post">
                                  <div class="post-thumbnail"><img src="{% static 'images/assets/kinabukasan/train/img-16.png' %}" alt="Thumbnail"/></div>
                                  <div class="post-header font-alt">
                                    <h2 class="post-title">CLEANING AND ENERGIZATION</h2>
                                    <div class="post-meta">&nbsp;| March 9-10, 2019
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6 col-lg-6">
                                <div class="post">
                                  <div class="post-thumbnail"><img src="{% static 'images/assets/kinabukasan/train/img-6.png' %}" alt="Thumbnail"/></div>
                                  <div class="post-header font-alt">
                                    <h2 class="post-title">OFFICIAL TURN-OVER</h2>
                                    <div class="post-meta">&nbsp;| March 14, 2019
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </section>
              <section class="module bg-dark-60 pt-0 pb-0 parallax-bg testimonial" data-background="{% static 'images/gifs/train1.gif' %}">
                <div class="testimonials-slider pt-140 pb-140">
                  <ul class="slides">
                    <li>
                      <div class="container">
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="module-icon"><span class="icon-lightbulb"></span></div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-8 col-sm-offset-2">
                            <blockquote class="testimonial-text font-alt">Utilizing the Automated Guide-way Transit as instructional medium in the engineering programs of the College of Engineering and Architecture to improve teaching-learning methods.</blockquote>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-4 col-sm-offset-4">
                            <div class="testimonial-author">
                              <div class="testimonial-caption font-alt">
                                <div class="testimonial-title">VISION OF BPSU</div>
                                <div class="testimonial-descr">AUTOMATED GUIDE-WAY TRANSIT</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="container">
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="module-icon"><span class="icon-lightbulb"></span></div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-8 col-sm-offset-2">
                            <blockquote class="testimonial-text font-alt"> Utilizing the Automated Guide-way Transit as instrument in developing researches to ease traffic congestion in urban areas.</blockquote>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-4 col-sm-offset-4">
                            <div class="testimonial-author">
                              <div class="testimonial-caption font-alt">
                                <div class="testimonial-title">VISION OF BPSU</div>
                                <div class="testimonial-descr">AUTOMATED GUIDE-WAY TRANSIT</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="container">
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="module-icon"><span class="icon-lightbulb"></span></div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-8 col-sm-offset-2">
                            <blockquote class="testimonial-text font-alt">Utilizing the railway transportation engineering technology on developing extension activities which provides professional develop to railway workforces.</blockquote>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-4 col-sm-offset-4">
                            <div class="testimonial-author">
                              <div class="testimonial-caption font-alt">
                                <div class="testimonial-title">VISION OF BPSU</div>
                                <div class="testimonial-descr">AUTOMATED GUIDE-WAY TRANSIT</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </section>
              <section class="module bg-dark-60 pt-0 pb-0 parallax-bg testimonial" data-background="https://media.giphy.com/media/t4DcI9P3dNVoA/giphy.gif">
                <div class="testimonials-slider pt-140 pb-140">
                </div>
              </section>
              

            {% include 'main/components/footers/modules/FooterModule_1.html' %}
            {% include 'main/components/footers/Footer.html' %}

        </div>
    </main>


    {% include 'includes/exhibit/js.html' %}    
    </body>
</html>