{% load static %}

<!DOCTYPE html>

<html lang="en-US" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Document Title -->
        <title>DOST R3 | Virtual Exhibit</title>

        {% include 'includes/exhibit/favi.html' %}
        {% include 'includes/exhibit/css.html' %}
        

    </head>
    <body>

    <main>
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>

        {% include 'main/components/navs/NavExhibit.html' %}

        <div class="main">
            <section class="module bg-dark-60 blog-page-header" data-background="https://media.giphy.com/media/ZbOJHSRcz1Gn95PXpO/giphy.gif">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <h2 class="module-title font-alt">Food Innovation Center</h2>
                      <div class="module-subtitle font-serif">Kinabukasan</div>
                    </div>
                  </div>
                </div>
              </section>
              <section class="module">
                <div class="container">
                  <p style="text-align: justify;">
                    Bulacan State University houses the only Food Innovation Center in Central Luzon. The regional FIC is only one of 18FICs in the Philippines. The university has been granted this facility thru the Department of Science and Technology (DOST) Industrial Technology Development Institute (ITDI) High Impact Technology Solutions (HITS) project. The Food Innovation Center has launched 55 new food products as part of its commitment to the DOST-ITDI HITS Project and to the productivity of Central Luzon. The launching was held during the Region 3 Regional Science and Technology Week (RSTW) at Balanga City, Bataan last July 2019.
                    <br>
                  </p>
                  <section class="module bg-dark-60" data-background="{% static 'images/assets/kinabukasan/intro/spice-poster.jpg' %}" id="portfolio">
                    <div class="container">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="video-box">
                            <div class="video-box-icon"><a class="video-pop-up"
                                href="https://www.youtube.com/watch?v=nrrNjCWZ77g"><span
                                  class="icon-video"></span></a></div>
                            <div class="video-title font-alt">Food Innovation Center</div>
                            <div class="video-subtitle font-alt">Click to watch.</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </section>
              <section class="module" id="news">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <h2 class="module-title font-alt">EQUIPMENT LINEUP</h2>
                      <h5 class="module-title" style="font-size: 14px;">Food Innovation Center</h5>
                      <div class="module-subtitle font-serif">The equipment in the FIC have undergone performance testing with various industry partners and modifications to improve performance. These are the water retort, vacuum fryer, vacuum packaging machine, freeze dryer, and spray dryer.
                      </div>
                    </div>
                  </div>
                  <section class="module">
                      <div class="container">
                        <hr class="divider-w pt-20">
                        <div class="row mb-60">
                          <div class="col-sm-6 col-md-3 col-lg-3">
                            <div class="alt-features-item">
                              <div class="alt-features-icon"><span class="icon-tools"></span></div>
                              <h3 class="alt-features-title font-alt">WATER RETORT</h3>The water retort is a pressurized cooking vessel used to sterilize food products packed in retort pouches, tin cans and glass jars. This retort is simple to operate and cheaper than the industrial versions. It has a modular setup that is ideal for micro-scale processors. The best feature of this retort is shorter process time which translates to lesser expense for utilities, storage, and transportation.
                            </div>
                          </div>
                          <div class="col-sm-6 col-md-3 col-lg-3">
                            <div class="alt-features-item">
                              <div class="alt-features-icon"><span class="icon-tools"></span></div>
                              <h3 class="alt-features-title font-alt">VACUUM PACKAGING MACHINE</h3>This equipment seals food products in flexible pouches to prolong shelf life while maintaining their freshness and flavor. This can be used for a wide range of plastic bags like trilaminates, retortable bags and PPE; and even for products that require nitrogen flushing.
                            </div>
                            <div class="alt-features-item">
                              <div class="alt-features-icon"><span class="icon-tools"></span></div>
                              <h3 class="alt-features-title font-alt">VACUUM FRYER</h3>The vacuum fryer is used to deep-fry food under reduced pressure and temperature. It is easy to use and may be used for processing high-fiber fruits and vegetables. Food products developed are crunchy, low in fat, high in fiber, and can be stored longer.
                            </div>
                          </div>
                          <div class="col-sm-6 col-md-3 col-lg-3">
                              <div class="alt-features-item">
                                  <div class="alt-features-icon"><span class="icon-tools"></span></div>
                                  <h3 class="alt-features-title font-alt">FREEZE DRYER
                                  </h3>This equipment operates in the principle wherein heat-sensitive materials are dehydrated through sublimation of water content under vacuum conditions. Freezing of the material results to reduction of the surrounding pressure and adding enough heat to allow the frozen water in the material to change directly from solid phase to gas phase. Once the water has been removed through freeze-drying, the dried food or chemicals are often stored in vacuum-sealed packs to keep air and moisture from reaching them
                                </div>
                          </div>
                          <div class="col-sm-6 col-md-3 col-lg-3">
                              <div class="alt-features-item">
                                  <div class="alt-features-icon"><span class="icon-tools"></span></div>
                                  <h3 class="alt-features-title font-alt">CABINET DRYER
                                  </h3>This equipment is a full-chamber drying oven with a capacity to dry at least 10 kilos of spices, legumes, vegetables or fruits at a time. The principle of drying relies fully on evaporation of available moisture. The heat applied affects the food quality by mildly roasting spices and legumes and moderate caramelization of vegetables and fruits.
                              </div>
                          </div>
                        </div>
                      </div>
                    </section>
                </div>
              </section>
          </div>
              
              <section class="module bg-dark-60 pt-0 pb-0 parallax-bg testimonial" data-background="https://media.giphy.com/media/t4DcI9P3dNVoA/giphy.gif">
                <div class="testimonials-slider pt-140 pb-140">
                </div>
              </section>


            {% include 'main/components/footers/modules/FooterModule_1.html' %}
            {% include 'main/components/footers/Footer.html' %}

        </div>
    </main>


    {% include 'includes/exhibit/js.html' %}    
    </body>
</html>