{% load static %}

<!DOCTYPE html>

<html lang="en-US" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Document Title -->
        <title>DOST R3 | Virtual Exhibit</title>

        {% include 'includes/exhibit/favi.html' %}
        {% include 'includes/exhibit/css.html' %}
        

    </head>
    <body>

    <main>
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>

        {% include 'main/components/navs/NavExhibit.html' %}

        <div class="main">
            <section class="module bg-dark-60 blog-page-header" data-background="{% static 'images/assets/kinabukasan/bg/iLAB.PNG' %}">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <h2 class="module-title font-alt">Innovative Tissue Culture Laboratory(iLAB)</h2>
                      <div class="module-subtitle font-serif">Kinabukasan</div>
                    </div>
                  </div>
                </div>
              </section>
              <section class="module">
                <div class="container">
                  <p style="text-align: justify;">
                    The Municipality of Guiguinto still considers agriculture as one of its primary source of livelihood, wherein the horticulture business is well-known, in particular the propagation and business of ornamental plants for landscape purposes. Currently, there are eighty six (86) registered garden plant farmers in Guiguinto, most of which are members of the Garden City Multipurpose Cooperative. Seeing the great potential of ornamental plant farming, the municipal government of Guiguinto greatly supports the promotion of the ornamental plant business and envisions to establish the whole municipality into the Garden Capital of the Philippines by the year 2025.
                    <br>
                  </p>
                  <section class="module bg-dark-60" data-background="{% static 'images/assets/kinabukasan/bg/iLAB.PNG' %}" id="portfolio">
                    <div class="container">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="video-box">
                            <div class="video-box-icon"><a class="video-pop-up"
                                href="https://www.youtube.com/watch?v=RjTbiHBxYcQ"><span
                                  class="icon-video"></span></a></div>
                            <div class="video-title font-alt">Innovative Tissue Culture Laboratory(iLAB)</div>
                            <div class="video-subtitle font-alt">Click to watch.</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <br />
                  <p style="text-align: justify;">
                    The collaborative project of DOST 3 and LGU Guiguinto, entitled “Development of the Gardening and Landscaping Industry of Guiguinto, Bulacan thru the Establishment of an Innovative Tissue Culture Laboratory (iLAB) for Sustainable Propragation of Various Ornamental Plants”, aims to provide technical assistance to the ornamental plant farmers in the municipality of Guiguinto through the establishment of a tissue culture laboratory intended for the production and propagation of ornamental plants. The plant tissue culture laboratory will supplement the propagation of ornamental plants by the farmers when they require large scale production of ornamental plants. The project has been approved for funding under the Grants-in-Aid (GIA) program of DOST 3 last September 13, 2019, and a Memorandum of Agreement has been signed between DOST 3 and LGU Guiguinto.
                  </p>
                  <p style="text-align: justify;">
                    Currently, the ornamental plant farmers in Guiguinto employ conventional farm practices such as cuttings, marcotting and grafting. However, such conventional practices have high mortality rates of transplants and may not be applicable for propagating some ornamental plant species. Currently, the ornamental plant farmers are having difficulties propagating some ornamental plants such as Bucida spinosa, Cypress plant (Cupressus family), Creeping Jennifer (Lysimachia nummularia), Ornamental Legumes (Caesalpinioidae, Mimosoidae, Faboideae), among others. In order to help solve this problem, LGU Guiguinto collaborated with the Department of Science and Technology Region 3 for a project which aims to provide technical assistance to the ornamental plant farmers in the Municipality of Guiguinto through the establishment of a tissue culture laboratory intended for the propagation of ornamental plants. To wit:
                  Quick generation of identical mature offspring of one plant with desirable traits, which is applicable for commercial large-scale production of plants;
                  Production of multiple plants in the absence of seeds or pollinators to produce seeds;
                  Production of plants from seeds or stems that may otherwise have low chances of growing;
                  Production of novel hybrids and genetically modified plants with improved agronomic traits; and,
                  Production of plants with greatly reduced chances of transmitting disease, pests and pathogens.
                  </p>
                  
                </div>
              </section>
              
              <section class="module bg-dark-60 pt-0 pb-0 parallax-bg testimonial" data-background="https://media.giphy.com/media/t4DcI9P3dNVoA/giphy.gif">
                <div class="testimonials-slider pt-140 pb-140">
                </div>
              </section>


            {% include 'main/components/footers/modules/FooterModule_1.html' %}
            {% include 'main/components/footers/Footer.html' %}

        </div>
    </main>


    {% include 'includes/exhibit/js.html' %}    
    </body>
</html>