{% load static %}

<!DOCTYPE html>

<html lang="en-US" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Document Title -->
        <title>DOST R3 | Virtual Exhibit</title>

        {% include 'includes/exhibit/favi.html' %}
        {% include 'includes/exhibit/css.html' %}
        

    </head>
    <body>

    <main>
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>

        {% include 'main/components/navs/NavExhibit.html' %}

        <div class="main">
            <section class="module bg-dark-60 blog-page-header" data-background="https://media.giphy.com/media/d7ncQTkyXi0EnyEMqQ/giphy-downsized-large.gif">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <h2 class="module-title font-alt">SUPPORT TO THE CONTINUOUS OPERATION OF THE NEUST METAL INNOVATION CENTER (PHASE II): “UPGRADING OF THE NEUST MIC METAL CASTING FACILITY”</h2>
                      <div class="module-subtitle font-serif">Kinabukasan</div>
                    </div>
                  </div>
                </div>
              </section>
              <section class="module">
                <div class="container">
                  <section class="module bg-dark-60" data-background="{% static 'images/assets/kinabukasan/bg/Metal.JPG' %}" id="portfolio">
                    
                    <div class="container">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="video-box">
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="video-box-icon"><a class="video-pop-up"
                                href="https://www.youtube.com/watch?v=BR818uiBq94"><span
                                  class="icon-video"></span></a></div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="video-box-icon"><a class="video-pop-up"
                                  href="https://www.youtube.com/watch?v=87-YPumtkY8"><span
                                    class="icon-video"></span></a></div>
                                  </div>
                              </div>
                            <div class="video-title font-alt">
                                SUPPORT TO THE CONTINUOUS OPERATION <br> OF THE NEUST METAL INNOVATION CENTER</div>
                            <div class="video-subtitle font-alt">Click to watch.</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <br />
                  <p style="text-align: justify;">
                    Metal innovation has a major impact on everyday life. Innovation comes with many hurdles. Constant innovation is the key to maintain the competitiveness of metal products. Innovation is at the heart of what many metals companies do. High strength. Super tough. Heat resistant. Lightweight. You only have to think of the demands on metals and their new uses to realize that innovation is happening all the time.
                  </p>  
                  <p style="text-align: justify;">
                    The Nueva Ecija University of Science and Technology (NEUST) is presently establishing a Metal Innovation Center (MIC) which aims to increase innovation potential of the metal industry by providing facilities for  product designers to achieve a hands-on experience with several sample materials and technologies that they could potentially integrate into unique new product designs.
                  </p>  
                  <p style="text-align: justify;">
                    As recipient of a DOST Project, NEUST Metal Innovation Center opted to improve the Micro-Hydro Power Plant installed at the NEUST Gabaldon Campus at the foot of Mt. Mingan. This power plant is successful in generating about 10kw from the water coming from upstream. It is now being used as source of energy in some buildings of the Campus, although its operation is presently being limited by low water flow. During the dry season, the flow is inadequate to generate power with the present design of turbine.  Hence, there is a need to carry out survey for collection of data about hydrology, quantity of flow of water, fall head, geology and design an efficient turbine. Complete design calculations of turbine must be performed along with static and model analysis of the turbine. Cross flow, hydraulic turbine is the best choice for such micro hydropower project due to its efficiency, cheap manufacturing and low maintenance   cost.
                  </p> 
                  <p style="text-align: justify;">
                    A design of a cross flow turbine is presented and the NEUST Metal innovation Center was able to develop a cross flow turbine out of its available resources. The available equipment in the Center was able to manufacture the turbine hub through centrifugal casting. The blades were also constructed by bending metal sheets using pattern/mold from CNC machines. Another part of the turbine assembly is its casing which the MIC provide by bending, welding and fastening two covers and hold by hub at the center. The generator needed to complete the Micro-Hydro Power Plant should be procured. Consequently, there is still need for an adequate supply of equipment and replacement parts at a reasonable price to make it sustainable.
              </div>
              </section>
              
              <section class="module bg-dark-60 pt-0 pb-0 parallax-bg testimonial" data-background="https://media.giphy.com/media/t4DcI9P3dNVoA/giphy.gif">
                <div class="testimonials-slider pt-140 pb-140">
                </div>
              </section>


            {% include 'main/components/footers/modules/FooterModule_1.html' %}
            {% include 'main/components/footers/Footer.html' %}

        </div>
    </main>


    {% include 'includes/exhibit/js.html' %}    
    </body>
</html>