{% load static %}

<!DOCTYPE html>

<html lang="en-US" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Document Title -->
        <title>DOST R3 | Virtual Exhibit</title>

        {% include 'includes/exhibit/favi.html' %}
        {% include 'includes/exhibit/css.html' %}
        

    </head>
    <body>

    <main>
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>

        {% include 'main/components/navs/NavExhibit.html' %}

        <div class="main">
            <section class="module bg-dark-60 blog-page-header" data-background="https://media.giphy.com/media/YFigaZwm2EiFG/giphy.gif">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <h2 class="module-title font-alt">ENCEPHALON HOLY ANGEL UNIVERSITY’S TECHNOLOGY BUSINESS INCUBATOR(TBI)</h2>
                      <div class="module-subtitle font-serif">Kinabukasan</div>
                    </div>
                  </div>
                </div>
              </section>
              <section class="module">
                <div class="container">
                  <p style="text-align: justify;">
                    Encephalon Holy Angel University’s Technology Business Incubator (TBI) Encephalon HAU-TBI is one of Holy Angel University’s paramount projects. It is the University’s Facility for Incubation, Acceleration, and Intellectual Property (IP) generation of start-up projects. The actualization of this facility will help Holy Angel University to implement its fifth strategic initiative: Research, Development and Commercialization of Technology. In so doing, it will fulfil its strategic objective to be an authentic instrument for countryside development.
                    <br>
                  </p>
                  <section class="module bg-dark-60" data-background="{% static 'images/assets/kinabukasan/bg/tbi.PNG' %}" id="portfolio">
                    <div class="container">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="video-box">
                            <div class="video-box-icon"><a class="video-pop-up"
                                href="https://www.youtube.com/watch?v=g4CCEY577KU"><span
                                  class="icon-video"></span></a></div>
                            <div class="video-title font-alt">Encephalon Holy Angel University’s<br> Technology Business Incubator(TBI)</div>
                            <div class="video-subtitle font-alt">Click to watch.</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <br />
                  <p style="text-align: justify;">
                    The DOST - Philippine Council for Industry, Energy and Emerging Technology Research and Development (PCIEERD) and the University of the Philippines, through the National Engineering Center, launched the Higher Education Institution Readiness for Innovation and Technopreneurship (HeIRIT) Program, a 12-month preparatory program for starting Technology Business Incubators (TBIs).
                  </p>
                </div>
              </section>
              
              <section class="module bg-dark-60 pt-0 pb-0 parallax-bg testimonial" data-background="https://media.giphy.com/media/t4DcI9P3dNVoA/giphy.gif">
                <div class="testimonials-slider pt-140 pb-140">
                </div>
              </section>


            {% include 'main/components/footers/modules/FooterModule_1.html' %}
            {% include 'main/components/footers/Footer.html' %}

        </div>
    </main>


    {% include 'includes/exhibit/js.html' %}    
    </body>
</html>