<div class="row">
    <div class="col-xl-3 col-md-6">
      <div class="card card-stats">
        <!-- Card body -->
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">Registered Visitors</h5>
              <span class="h2 font-weight-bold mb-0">{{ total_visitors }}</span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                <i class="fas fa-user-friends"></i>
              </div>
            </div>
          </div>
          <p class="mt-3 mb-0 text-sm">
          </p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card card-stats">
        <!-- Card body -->
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">Feedbacks</h5>
              <span class="h2 font-weight-bold mb-0">{{ total_surveys }}</span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                <i class="fas fa-ban"></i>
              </div>
            </div>
          </div>
          <p class="mt-3 mb-0 text-sm">
          </p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card card-stats">
        <!-- Card body -->
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">FEATURE</h5>
              <span class="h2 font-weight-bold mb-0">NOT AVAILABE</span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                <i class="fas fa-ban"></i>
              </div>
            </div>
          </div>
          <p class="mt-3 mb-0 text-sm">
          </p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card card-stats">
        <!-- Card body -->
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">FEATURE</h5>
              <span class="h2 font-weight-bold mb-0">NOT AVAILABE</span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                <i class="fas fa-ban"></i>
              </div>
            </div>
          </div>
          <p class="mt-3 mb-0 text-sm">
          </p>
        </div>
      </div>
    </div>
  </div>