<li class="nav-item">
    <a class="nav-link active" href="#navbar-tables" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navbar-tables">
      <i class="fas fa-table"></i>
      <span class="nav-link-text">&nbsp;Tables</span>
    </a>
    <div class="collapse" id="navbar-tables">
      <ul class="nav nav-sm flex-column">
        <li class="nav-item">
          <a href="{% url 'visitortable' %}" class="nav-link"><i class="fas fa-users"></i>&nbsp;Vistors</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'surveytable' %}" class="nav-link"><i class="fas fa-poll"></i>&nbsp;Feedbacks</a>
        </li>
      </ul>
    </div>
  </li>